{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9 about-us">
            <h3 class="about-head-1">О компании</h3>
            <p>
            Компания АстраПромо была создана в 2009 году с целью предоставления эффективного, дающего результат, СЕО продвижения сайтов. Позднее, ситуация в Интернете изменилась, из поисковых систем ушло много трафика в социальные сети, ну и поисковые системы стали больше уделять внимание контекстной рекламе.
            </p>
            <p>
                Проанализировав эту ситуация мы поняли, что нам нужно расширять инструменты для привлечения клиентов из Интернета, поэтому взяли в команду специалистов по таргетированной и контекстной рекламе.
            </p>
            <div class="gap-20"></div>
            <h3 class="about-head-2">Цель компании</h3>
            <p>
               Продвижение, как и другие виды рекламы направлены на увеличение продаж и наша главная цель – это увеличить прибыль клиента с помощью доступных и белых методов интернет маркетинга.
            </p>
            <p>
                Мы очень четко понимаем, что основным критерием качества нашей работы является приведение клиентов/заявок для наших клиентов на их сайты и группы/аккаунты в социальных сетях, это подтверждается многочисленными положительными отзывами и кейсами.
            </p>
            <strong>Наши главные направления:</strong>
            <div class="gap-20"></div>
                <p>
                    1. СЕО продвижение сайтов;<br>
                    2. Контекстная реклама;<br>
                    3. Таргетированная реклама;<br>
                    4. Создание продающих сайтов.<br>
                </p>
             <div class="gap-20"></div>
            <h3 class="about-head-3">Команда</h3>
            <p>
                В настоящее время, привлечение клиентов для наших клиентов нельзя поставить на «конвейер». К каждому нужен индивидуальны подход, что мы предлагаем и даем на выходе.
            </p>
            <p>
                Наши специалисты имеют большой опыт работы по продвижению сайтов, настройке и ведению таргетированной рекламы, рекламных кампаний в Яндекс Директ и Google Adwords, А посещение тематических конференций, вебинаров, позволяют нам быть в курсе последних событий интернет маркетинга
            </p>
            <p>
                При работе с проектами мы максимально используем разделение труда. Это помогает производить более качественный продукт (так как каждый участник – специалист своей профессии), а процесс делать менее зависимым от «человеческого фактора».
            </p>
             <div class="gap-20"></div>
            <h3 class="about-head-4">Наши преимущества</h3>
            <p>
                - Более 300 положительных кейсов и отзывов;<br>
                - Нам не все равно. Доводим до результата каждого клиента;<br>
                - Не берем деньги за каждое действие, стараемся идти на встречу и ориентироваться на бюджетные возможности клиента;<br>
                - На связи более 12 часов в сутках, поэтому наши клиенты могут с нами связаться даже в после рабочее время и обсудить рабочий вопрос’<br>
                - Работаем официально, поэтому предоставляем все отчетные документы.<br>
                - Оказываем услуги по всей России, вне зависимости от местоположения клиента;<br>
                - Имеет полный штат сотрудников для проведения эффективной работы;<br>
                - Постоянно вкладываем в развитие и обучение сотрудников, а значит в работе используем только современные методы привлечения клиентов.
            </p>
             <div class="gap-20"></div>
            <h3 class="about-head-5">Реквизиты</h3>
            <p>
           ООО "Астра-Промо"<br>
                Юридический адрес: 454139, г. Челябинск, ул. Магнитогорская 91, кв. 21<br>
                Фактический адрес: 454084, г. Челябинск, пр. Победы 160, офис 503<br>
                ИНН 7452117790<br>
                КПП 744901001<br>
                ОГРН 1147452004292<br>
                р/с 40702810890960003226 ПАО «ЧЕЛЯБИНВЕСТБАНК» г. Челябинск<br>
                БИК 047501779<br>
                к/с 30101810400000000779
            </p>
        </div>
        <div  class="col-md-3 team-foto">
            <img src="{% static 'images/foto.png' %}">
            <div>
                <p class="team-name-1">Игорь Анатольевич</p>
                <span>UI/UX Дизайнер</span>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                <p class="team-name-2">Игорь Анатольевич</p>
                <span>UI/UX Дизайнер</span>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                <p class="team-name-3">Игорь Анатольевич</p>
                <span>UI/UX Дизайнер</span>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                <p class="team-name-4">Игорь Анатольевич</p>
                <span>UI/UX Дизайнер</span>
            </div>


        </div>
    </div>
<div class="gap-40"></div>
</div>
{% include 'staticPages/big_form.html' %}
<div class="gap-60"></div>
{% endblock %}

{% block js %}

{% endblock %}

