{% extends 'basic.html' %}
{% load static %}

{% block content %}
       <div id="landing-hero" class="hero is-relative">


            <!-- Hero caption -->
            <div style="padding-bottom: 0px !important;" id="main-hero" class="hero-body ">
                <div class="container">
                    <div class="columns is-vcentered is-tablet-portrait">
                        <!-- Caption -->
                        <div class="column is-5 header-caption has-text-left is-offset-1">
                            <h1 class="landing-title">
                                О компании
                            </h1>
                            <h2 class="subtitle is-6 dark-text">

Компания АстраПромо была создана в 2009 году с целью оказания комплекса услуг по продвижению сайтов в сети интернет.
</h2>
                            <br>
                            <h1 class="landing-title">
                                Цель компании
                            </h1>
                            <h2 class="subtitle is-6 dark-text">

Продвижение, как и другие виды рекламы направлены на увеличение продаж и наша главная цель – это увеличить прибыль компаний с помощью доступных методов интернет маркетинга.
</h2>
  <h2 class="subtitle is-6 dark-text text-bolder">
                               Наши главные направления:
                            </h2>










                              <div class="solid-list">
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-check"></i>
                </div>
                <div class="list-text">
                   Создание сайтов;
                </div>
            </div>
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-check"></i>
                </div>
                <div class="list-text">
                   Продвижение сайтов;
                </div>
            </div>
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-check"></i>
                </div>
                <div class="list-text">
                   Аудит сайтов;
                </div>
            </div>
                                       <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-check"></i>
                </div>
                <div class="list-text">
                  Мобильная вёрстка сайтов;
                </div>
            </div>
                                       <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-check"></i>
                </div>
                <div class="list-text">
                   Контекстная реклама.
                </div>
            </div>
        </div>

                        </div>
                        <!-- UI Mockup -->
                        <div class="column is-5  ">
                          <div style="background-color: #f25a1a;"  class="flex-card light-bordered light-raised">
                        <div class="content has-text-centered mt-20">
                            <h3 style="color: #fff;">Форма заказа</h3>
                        </div>
                        <div class="card-body">
                            <form class="padding-20">
                                <div class="control-material ">
                                    <input class="material-input " type="text" required="">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Ваше имя *</label>
                                </div>
                                <div class="control-material ">
                                    <input class="material-input " type="text" required="">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Контактный телефон *</label>
                                </div>
                                 <div class="control-material ">
                                    <input class="material-input " type="text" required="">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>Адрес сайта *</label>
                                </div>
                                 <div class="control-material ">
                                    <input class="material-input " type="email" required="">
                                    <span class="material-highlight"></span>
                                    <span class="bar"></span>
                                    <label>E-MAIL *</label>
                                </div>
                                <div class="mt-20 has-text-right">
                                    <button type="submit" class="button button-cta btn-align  btn-outlined gradient_btn  raised no-lh">Отправить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                        </div>
                        <!-- /UI Mockup -->
                    </div>
                </div>
            </div>
            <!-- /Hero caption -->
        </div>
        <!-- /Hero and nav -->

        <!-- Services section -->

        <!-- /Services section -->

        <!-- Features section -->
        <section style="padding-top: 0 !important;" class="section section-feature-grey">
            <div class="container">


                    <div class="columns is-vcentered ">
                        <div class="column is-4 is-offset-1">
                            <!-- Title -->

                            <div class="title quick-feature is-handwritten text-bold">
                                <div>Команда</div>

                            </div>
                            <!-- /Title -->
                            <div class="title-divider is-small"></div>
                            <span style="text-align: justify;
    display: block;" class="section-feature-description">
                                В настоящее время, продвижение сайтов нельзя поставить на «конвейер». К каждому сайту нужен индивидуальны подход,
                                что мы и предлагаем. Наши специалисты имеют большой опыт работы по продвижению сайтов,
                                ведению рекламных кампаний в Яндекс Директ и Google Adwords в разных отраслях и
                                регионах. А посещение тематических конференций, вебинаров, позволяют нам быть в
                                курсе последних событий интернет маркетинга.<br><br>
                                При работе с проектами мы максимально используем разделение труда.
                                Это помогает производить более качественный продукт (так как каждый участник – специалист своей профессии),
                                а процесс делать менее зависимым от «человеческого фактора».</span>
                        </div>
                        <div class="column is-6 is-offset-1">
                            <!-- Featured illustration -->
                            <img class="" src="{% static 'images/team1.svg' %}" alt="">
                            <!-- /Featured illustration -->
                        </div>
                    </div>

                    <div class="columns is-vcentered">

                        <div class="column is-6">
                            <!-- Featured illustration -->
                            <img src="{% static 'images/team.svg' %}" alt="">
                            <!-- /Featured illustration -->
                        </div>
                        <!-- This column will display only on desktop and tablet landscape resolutions -->
                        <div class="column is-4 is-offset-1 is-hidden-mobile">
                            <!-- Title -->

                            <div class="title quick-feature is-handwritten text-bold">
                                <h2>Наши преимущества</h2>

                            </div>
                            <!-- /Title -->
                            <div class="title-divider is-small"></div>
                            <span class="section-feature-description">
                                  <div class="solid-list">
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-check"></i>
                </div>
                <div class="list-text">
                  Опыт продвижения сайтов более 9-и лет. В период с 2009 по 2017 год, нами были продвинуты более 200 сайтов, различной тематики;
                </div>
            </div>
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-check"></i>
                </div>
                <div class="list-text">
                  Для продвижения сайта нами используются профессиональные инструменты, которые помогают выполнить работу более качественно;
                </div>
            </div>
            <div class="solid-list-item">
                <div class="list-bullet">
                    <i class="sl sl-icon-check"></i>
                </div>
                <div class="list-text">
                  Индивидуальный подход к каждому клиенту.
                </div>
            </div>

        </div>


</span>

                        </div>
                        <!-- /so the original flow is kept -->
                    </div>



            </div>
        </section>
  <section id="business-types" class="section is-medium section-secondary is-small is-skewed-sm is-relative huge-pb">
            <div class="container slanted-container is-reverse-skewed-sm">
                <div class="columns is-vcentered">
                    <!-- Content -->
                    <div class="column is-5 is-offset-4 ">
                        <div class="content padding-20">
                            <h2 class="parallax-title light-text text-bold">Реквизиты</h2>
                            <p class="light-text">

ООО "Астра-Промо"<br>
Юридический адрес: 454139, г. Челябинск, ул. Магнитогорская 91, кв. 21<br>
Фактический адрес: 454084, г. Челябинск, пр. Победы 160, офис 503<br>
ИНН 7452117790<br>
КПП 744901001<br>
ОГРН 1147452004292<br>
р/с 40702810890960003226 ПАО «ЧЕЛЯБИНВЕСТБАНК» г. Челябинск<br>
БИК 047501779<br>
к/с 30101810400000000779
                            </p>

                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}

{% block js %}
{% endblock %}



{#{% extends 'basic.html' %}#}
{#{% load static %}#}
{##}
{#{% block content %}#}
{#{% endblock %}#}
{##}
{#{% block js %}#}
{#{% endblock %}#}