{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9 about-us">
            <h3 class="about-head-1">О компании</h3>
            <p>
                Компания АстраПромо была создана в 2009 году с целью оказания комплекса услуг по продвижению сайтов в сети интернет.
            </p>
            <h3 class="about-head-2">Цель компании</h3>
            <p>
                Продвижение, как и другие виды рекламы направлены на увеличение продаж и наша главная цель –
                это увеличить прибыль компаний с помощью доступных методов интернет маркетинга.
            </p>
                Наши главные направления:
                <ul>
                    <li>Создание сайтов;</li>
                    <li>Продвижение сайтов;</li>
                    <li>Аудит сайтов;</li>
                    <li>Мобильная вёрстка сайтов;</li>
                    <li>Контекстная реклама.</li>
                </ul>

            <h3 class="about-head-3">Команда</h3>
            <p>
                В настоящее время, продвижение сайтов нельзя поставить на «конвейер». К каждому сайту нужен индивидуальны подход,
                что мы и предлагаем. Наши специалисты имеют большой опыт работы по продвижению сайтов, ведению рекламных кампаний
                в Яндекс Директ и Google Adwords в разных отраслях и регионах. А посещение тематических конференций, вебинаров,
                позволяют нам быть в курсе последних событий интернет маркетинга.
            </p>
            <p>
                При работе с проектами мы максимально используем разделение труда.
                Это помогает производить более качественный продукт (так как каждый участник –
                специалист своей профессии), а процесс делать менее зависимым от «человеческого фактора».
            </p>
            <h3 class="about-head-4">Наши преимущества</h3>
            <p>
                Опыт продвижения сайтов более 9-и лет. В период с 2009 по 2017 год, нами были продвинуты более 200 сайтов, различной тематики;<br>
                Для продвижения сайта нами используются профессиональные инструменты, которые помогают выполнить работу более качественно;<br>
                Индивидуальный подход к каждому клиенту.
            </p>
            <h3 class="about-head-5">Реквизиты</h3>
            <p>
            ООО "Астра-Промо"<br>
            Юридический адрес: 454139, г. Челябинск, ул. Магнитогорская 91, кв. 21<br>
            Фактический адрес: 454084, г. Челябинск, пр. Победы 160, офис 503<br>
            ИНН 7452117790<br>
            КПП 744901001<br>
            ОГРН 1147452004292<br>
            р/с 40702810890960003226 ПАО «ЧЕЛЯБИНВЕСТБАНК» г. Челябинск<br>
            БИК 047501779<br>
            к/с 30101810400000000779
            </p>
        </div>
        <div  class="col-md-3 team-foto">
            <img src="{% static 'images/foto.png' %}">
            <div>
                <p class="team-name-1">Игорь Анатольевич</p>
                <span>UI/UX Дизайнер</span>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                <p class="team-name-2">Игорь Анатольевич</p>
                <span>UI/UX Дизайнер</span>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                <p class="team-name-3">Игорь Анатольевич</p>
                <span>UI/UX Дизайнер</span>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                <p class="team-name-4">Игорь Анатольевич</p>
                <span>UI/UX Дизайнер</span>
            </div>


        </div>
    </div>
<div class="gap-40"></div>
</div>
<div class="form_container ">
    <div class="container form_inner_container ">
        <p>Сделаем бесплатный аудит вашего интернет маркетинга</p>
        <form  id="callBackForm" onsubmit="callBack_home(event);" >
        <div class="row">

                <div class="col-md-4 col-sm-12 mb-4"> <input type="text" id="callBackHome_name" required="required" placeholder="Ваше имя"></div>

                <div class="col-md-4 col-sm-12  mb-4"><input type="text" id="callBackHome_email" required="required" placeholder="Email"></div>

                <div class="col-md-4 col-sm-12 "><input type="text" id="callBackHome_phone" required="required" placeholder="Сотовый номер"></div>


        </div>
             <button id="homeSubmit"  type="submit" class="btn btn-2">Отправить</button>
</form>
<p style="color: #fff; font-size: x-large; display: none;" id="callBackHome_done">Ваш запрос отправлен. Ожидайте звонка.</p>
    </div>
</div>
<div class="gap-60"></div>
{% endblock %}

{% block js %}

{% endblock %}

