{% load static %}
<div class="form_container ">
    <div class="container form_buttons_inner_container ">
        <div class="row">
            <div class="col-md-12 col-sm-12 mb-4 button-form">
                <h3 >Возник вопрос или вы готовы работать?</h3>
                <h4>Мы сами Вам перезвоним, просто оставьте свой номер</h4>
                <form  id="callBackForm" onsubmit="callBack_home(event,'big_form');" autocomplete="off" class="py-2" >
                    <div class="row" style="align-items: center;">
                        <div class="col-md-4 col-sm-1 mb-4">
                            <input style="background-color: #2cb3e5;" type="text" id="callBackHome_name" required="required" placeholder="Ваше имя">
                        </div>
                        <div class="col-md-4 col-sm-1 mb-4">
                            <input style="background-color: #2cb3e5;" type="text" id="callBackHome_phone" required="required" placeholder="Сотовый номер">
                            <input type="hidden" id="callBackHome_email" value="none" >
                        </div>
                        <div class="col-md-4 col-sm-1 mb-4">
                            <button id="homeSubmit"  type="submit" class="btn btn-outline-white">Отправить</button>
                        </div>
                    </div>
                </form>
                <p style="color: #fff; font-size: x-large; display: none;" id="callBackHome_done">Ваш запрос отправлен. Ожидайте звонка.</p>
            </div>
        </div>
        <p style="color: #fff; font-size: x-large; display: none;" id="callBackHome_done">Ваш запрос отправлен. Ожидайте звонка.</p>
    </div>
</div>

{% include 'staticPages/callBack_modal.html' %}