{% load static %}
<div class="form_container ">
    <div class="container form_buttons_inner_container ">
        <p>Хотите увеличить продажи?</p>

        <div class="row">

                <div class="col-md-3 col-sm-12 mb-4">
                       <a  class="btn btn-2" data-toggle="modal" data-target="#callBackModal" href="#">Заказать звонок</a>

                </div>

                <div class="col-md-3 col-sm-12  mb-4">
                          <a  class="btn btn-2" href="mailto:igor@astrapromo.ru">Направить письмо</a>

                </div>

                <div class="col-md-6 col-sm-12 text-center">
                        <a style="width: auto;" class="btn btn-2" data-toggle="modal" data-target="#quizModal"  href="#">Получить коммерческое предложение</a>

                </div>


        </div>


<p style="color: #fff; font-size: x-large; display: none;" id="callBackHome_done">Ваш запрос отправлен. Ожидайте звонка.</p>
    </div>
</div>

<div class="modal" id="quizModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">

        <!-- Modal Header -->



        <div class="modal-body">
            <div class="row">
                <div class="col-md-7">
                    <h3>Ответьте на 5 вопросов и получите скидку!</h3>
                    <hr>

                    <form id="step-0-form">

                        <div class="step-0">
                          <p id="question">Сколько вам необходимо заявок в месяц?</p>
                             <div class="inputGroup">
                                <input id="radio1" name="radio" value="до 15"  type="radio"/>
                                <label for="radio1">до 15</label>
                              </div>
                              <div class="inputGroup">
                                <input id="radio2" name="radio" type="radio"/>
                                <label for="radio2">до 30</label>
                              </div>
                             <div class="inputGroup">
                                <input id="radio3" name="radio" type="radio"/>
                                <label for="radio3">до 50</label>
                              </div>
                              <div class="inputGroup">
                                <input id="radio4" name="radio" type="radio"/>
                                <label for="radio4">более 50</label>
                              </div>
                        </div>
                    </form>
                    <form>
                          <div style="display: none" class="step-1">
                             <p id="question">Какой бюджет планируете выделить на рекламу?</p>
                             <div class="inputGroup">
                                <input id="radio5" name="radio"  type="radio"/>
                                <label for="radio5">до 10 000</label>
                              </div>
                              <div class="inputGroup">
                                <input id="radio6" name="radio" type="radio"/>
                                <label for="radio6">до 20 000</label>
                              </div>
                             <div class="inputGroup">
                                <input id="radio7" name="radio" type="radio"/>
                                <label for="radio7">до 30 000</label>
                              </div>
                              <div class="inputGroup">
                                <input id="radio8" name="radio" type="radio"/>
                                <label for="radio8">от 50 000</label>
                              </div>

                        </div>


                    </form>

                </div>
                <div style="padding: 0;" class="col-md-1 ">
                     <a  href="#"  id="prev_btn"  ><img id="prev_img" src="{% static '/images/arrow-right.png' %}"></a>
                    <a href="#" data-step="0" id="next_btn" ><img src="{% static '/images/arrow-left.png' %}"></a>

                </div>
                <div style="background-color: #F7F7F7" class="col-md-3 quiz-info">
                    <a href="#" class="btn btn-1">ваша скидка <span id="discount">0</span> %</a>
                    <img src="{% static '/images/quiz_photo.jpg' %}" alt="">
                    <p>Игорь Дубин</p>
                    <img src="{% static '/images/dot.png' %}" alt=""><span>Директор отдела</span>
                    <p class="quiz-small-txt">За каждый ответ вы получаете скидку</p>

                </div>
            </div>

        </div>


      </div>
    </div>
  </div>
