<div class="modal" id="showCase">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img style="
            float: right;
            width: 600px;
            margin-left: 20px;
            box-shadow: 0px 3px 20px rgba(0,0,0,0.25), 0px 5px 8px rgba(0,0,0,0.22);"
                 class="img-fluid" id="caseImg" src="" alt="">
            <div id="caseInfo"></div>
        </div>
      </div>
    </div>
  </div>