{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div class="container context-main">
    <div class="gap-40"></div>
    <h1 class="seo-h1">Настройка и ведение контекстной рекламы в Челябинске</h1>
    <div class="gap-20"></div>
        <div class="row align-items-center">
                <div class="col-md-8 order-md-1  mb-4">
                    <p><span class="color-blue">Контекстная реклама</span> - это тип интернет-рекламы, которую видит пользователь
    оисковой системы при вводе поискового запроса. Введя запрос в Яндекс
    или Google, кроме результатов поиска, человек получает рекламные блоки
    с объявлениями на тему своего запроса.</p>
                </div>
                <div class="col-md-3 offset-md-1 order-md-2 mb-4">
                    <img class="img-fluid" src="{% static 'images/context1.png' %}" alt="">
                </div>
        </div>
     <h3 class="seo-h1 color-orange">Преимущества контекстной рекламы</h3>
    <div class="gap-40"></div>

        <div class="row context-main">
                <div class="col-md-5 order-md-1 text-center  bg-radius-8">
                    <p class="color-orange text-uppercase mb-1">Работа с целевой аудиторией</p>
                    <p class="font-size-14">
                    Рекламные объявления увидят именно те пользователи,
                    которые потенциально заинтересованы именно Вашим
                    предложением товаров или услуг. При этом только
                    Вы решаете, по каким запросам будут
                    показываться Ваши объявления, а по каким - нет.
                    </p>
                </div>

                <div class="col-md-5 offset-md-2 order-md-2  bg-radius-8">
                  <p class="color-orange text-uppercase mb-1">Плата за клики</p>
                    <p class="font-size-14">
                        Для каждого ключевого слова (запроса) рекламодатель
                        сам определяет стоимость одного перехода на свой сайт.
                        Рекламный  бюджет списывается только тогда, когда
                        посетитель кликнул на объявление и перешел на сайт.
                    </p>
                </div>

        </div>
             <img class="center-img" src="{% static 'images/context2.png' %}" alt="">
        <div class="row context-main">
                <div class="col-md-5 order-md-1 text-center mb-4 bg-radius-8">
                    <p class="color-orange text-uppercase mb-1">Работа с целевой аудиторией</p>
                    <p class="font-size-14">
                    Рекламные объявления увидят именно те пользователи,
                    которые потенциально заинтересованы именно Вашим
                    предложением товаров или услуг. При этом только
                    Вы решаете, по каким запросам будут
                    показываться Ваши объявления, а по каким - нет.
                    </p>
                </div>
                <div class="col-md-5 offset-md-2 order-md-2 mb-4 bg-radius-8">
                  <p class="color-orange text-uppercase mb-1">Плата за клики</p>
                    <p class="font-size-14">
                        Для каждого ключевого слова (запроса) рекламодатель
                        сам определяет стоимость одного перехода на свой сайт.
                        Рекламный  бюджет списывается только тогда, когда
                        посетитель кликнул на объявление и перешел на сайт.
                    </p>
                </div>
        </div>
    <div class="gap-40"></div>
     <h3 class="seo-h1 ">Почему стоит заказать<br>настройку контекстной рекламы у нас?</h3>
    <div class="gap-40"></div>
    <div class="row circles align-items-center">
                <div class="col-md-3 ">
                    <div class="bg-circle bg-circle-blue text-center color-blue">
                        <div> Более
                           <span>100</span>
                            созданных<br>
                            рекламных<br>
                            кампаний
                        </div>
                        <img src="{% static 'images/hand shake.png' %}">
                    </div>
                </div>
         <div class="col-md-3 ">
                    <div class="bg-circle bg-circle-orange text-center color-orange">
                       <img src="{% static 'images/calendar.png' %}">
                        <div><strong> Ежедневный<br>
                            мониторинг</strong><br>
                            Вашей<br>
                            рекламной<br>
                            кампании
                        </div>

                    </div>
                </div>
         <div class="col-md-3 ">
                    <div class="bg-circle bg-circle-blue text-center color-blue">
                        <div>
                            <br><strong>Отчеты</strong><br>
                            каждый<br>
                            месяц
                        </div>
                        <img src="{% static 'images/chart.png' %}">
                    </div>
                </div>
         <div class="col-md-3 ">
                    <div class="bg-circle bg-circle-orange text-center color-orange">
                         <img src="{% static 'images/chart1.png' %}">
                        <div>
                            Запуск<br>
                            рекламной<br>
                            кампании в течение<br>
                            <span>1-3 </span>
                            дней
                        </div>

                    </div>
                </div>

        </div>
     <div class="gap-40"></div>
<hr>
 <div class="gap-20"></div>
     <h3 class="seo-h1 ">Этапы работы</h3>
    <div class="gap-20"></div>
<div class="row">
    <div class="col-md-5 ">

    <img class="by-center" src="{% static 'images/context3.png' %}">
        <ul class="context-list">
            <span class="list-number"> 1.</span><li><span class="color-blue">Анализируем</span> сайт с точки зрения конверсии
       (анализ конкурентов, анализ цен, анализ существующей
       статистики по посещаемости, анализ настройки целей,
       процент отказа, поведение пользователей);</li>
            <span class="list-number"> 2.</span><li><span class="color-blue">Даем рекомендации</span> по внесению изменений на сайт,
       которые позволят увеличить эффективность
       рекламной кампании. Мало привлечь посетителя, нужно
       его удержать и вызвать интерес к Вашему предложению;</li>
            <span class="list-number"> 3.</span><li><span class="color-blue">Подбираем запросы</span> для рекламной кампании. Находим
       только целевые и эффективные поисковые запросы;</li>
            <span class="list-number"> 4.</span><li><span class="color-blue">Составляем</span> продающие рекламные объявления;</li>
            <span class="list-number"> 5.</span> <li><span class="color-blue">Запускаем</span> рекламную кампанию.</li>
        </ul>

    </div>
    <div class="col-md-5 offset-md-2">
    <img class="by-center" src="{% static 'images/context4.png' %}">
         <ul class="context-list">
             <span class="list-number"> 1.</span><li>Ежедневно <span class="color-blue">отслеживаем</span> статистику и расход бюджета;</li>
             <span class="list-number"> 2.</span><li><span class="color-blue">Отслеживаем</span> аналитику через Яндекс Метрику и Google Analytics;</li>
              <span class="list-number"> 3.</span><li><span class="color-blue">Останавливаем</span> неэффективные запросы, отключаем показы на неэффективных площадках
       (в Рекламной Сети Яндекса);</li>
              <span class="list-number"> 4.</span><li><span class="color-blue">Добавляем</span> новые минус слова, которые отсеивают
       очевидно не Ваших клиентов;</li>
             <span class="list-number"> 5.</span> <li><span class="color-blue">Настраиваем</span> ретаргетинг — возвращаем посетителей,
       которые ушли с Вашего сайта;</li>
             <span class="list-number"> 6.</span> <li><span class="color-blue">Корректируем</span> тексты, заголовки, при необходимости
       создаем дополнительные объявления;</li>
             <span class="list-number"> 7.</span> <li><span class="color-blue">Предоставляем</span> ежемесячные отчеты и рекомендации.</li>
        </ul>
    </div>
</div>
   <div class="gap-40"></div>
<hr>
 <div class="gap-40"></div>
<div class="row ">
    <div class="col-md-6  context-bottom ">
        <img  src="{% static 'images/context5.png' %}">
        <p>Стоимость настройки рекламной кампании
рассчитывается в зависимости
            <span>от количества объявлений</span> ,
которые необходимо создать.</p>
    </div>
     <div class="col-md-5  offset-md-1 context-bottom ">
        <img  src="{% static 'images/context6.png' %}">
         <p>
             Рекомендуемый бюджет
на рекламную кампанию
от 5000 рублей в месяц -
             <span>оплачивается отдельно</span>
         </p>
    </div>

</div>


</div>
     <div class="gap-40"></div>
{% include 'staticPages/big_form_buttons.html' %}
<div class="gap-60"></div>

{% endblock %}



{% block js %}

{% endblock %}

