{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row align-items-center context-head">
            <div class="col-md-6 order-md-1 mb-4 ">
                <h1 class="home-h1">Профессиональная настройка и ведение <span class="color-orange cool-text">контекстной рекламы</span></h1>
                <p class="mb-4">Интернет-реклама, которую видит пользователь при вводе поискового запроса</p>
                <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать настройку</a>
            </div>
            <div class="col-md-6  order-md-2 mb-4">
                <img class="img-fluid" src="{% static 'images/context_head.jpg' %}" alt="Зачем нужна контекстная реклама?">
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <h3 class="context-h1 ">Зачем нужна контекстная реклама?</h3>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="row align-items-center ">
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/context-icon-1.png' %}" alt="Зачем нужна контекстная реклама?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Скорость</h4>
                        <p>Если нужно относительно быстро получить заявки с сайта/группы в соцсетях на услуги/товары</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/context-icon-2.png' %}" alt="Зачем нужна контекстная реклама?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Клиенты</h4>
                        <p>Если нужно получить преимущественно «горячих» клиентов</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/context-icon-3.png' %}" alt="Зачем нужна контекстная реклама?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Информирование</h4>
                        <p>Если необходимо быстро проинформировать клиентов о новых акциях или выпуске новой услуги или продукта</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/context-icon-4.png' %}" alt="Зачем нужна контекстная реклама?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Онлайн</h4>
                        <p>Если нужны продажи в других регионах, но там нет Вашего физического присутствия</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
        <div class='seo-supermacy-wrapper'>
            <h3 class="context-h1 text-center ">Преимущества контекстной рекламы</h3>
            <div class="gap-60"></div>
            <div class="gap-40"></div>
            <div class="seo-supermacy">
                <div class="big-circle">
                    <div class="inner-circle super-1">
                        <img src="{% static 'images/seo-super-1.png' %}" alt="Преимущества контекстной рекламы">
                        <span style="display: none" class="super-text">Возможность точечной настройки по географии, полу и возрасту клиента, времени показа.</span>
                    </div>
                    <div class="inner-circle super-2">
                        <img src="{% static 'images/seo-super-2.png' %}" alt="Преимущества контекстной рекламы">
                        <span style="display: none" class="super-text">Рекламу необходимо оплачивать только за факт перехода на Ваш сайт потенциального клиента</span>
                    </div>
                    <div class="inner-circle super-3">
                        <img src="{% static 'images/seo-super-3.png' %}" alt="Преимущества контекстной рекламы">
                        <span style="display: none" class="super-text">Быстрый старт рекламной кампании</span>
                    </div>
                    <div class="inner-circle super-4">
                        <img src="{% static 'images/seo-super-4.png' %}" alt="Преимущества контекстной рекламы">
                        <span style="display: none" class="super-text">Быстрое привлечение клиентов</span>
                    </div>
                    <div class="inner-circle super-5">
                        <img src="{% static 'images/seo-super-5.png' %}" alt="Преимущества контекстной рекламы">
                        <span style="display: none" class="super-text">Рекламу видят только те пользователи, которые прямо или косвенно заинтересованы в Ваших услугах/товарах</span>
                    </div>
                    <div class="inner-circle super-6">
                        <img src="{% static 'images/seo-super-6.png' %}" alt="Преимущества контекстной рекламы">
                        <span style="display: none" class="super-text">Большой охват аудитории потенциальных клиентов</span>
                    </div>

                    <div class="inner-text">Возможность продвигать неограниченное количество поисковых (ключевых) запросов</div>
                </div>
            </div>
            <div class="gap-60"></div>
            <div class="gap-60"></div>
            <div class="gap-40"></div>
            <div class="gap-20"></div>
        </div>
        <h3 class="context-h1 ">Что входит в работы по контекстной рекламе</h3>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="row  align-items-center">
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">1</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Анализ ниши и конкурентов в поисковых системах
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">2</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Создание инструментов для аналитики (Яндекс Метрика/Google Analytics
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">3</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Анализ юзабилити сайта клиента, подготовка посадочных страниц
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">4</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Создание целей в метрике, для отслеживания эффективности рекламы
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">5</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Максимальный сбор ключевых запросов, по которым потенциальные клиенты ищут Ваши товары и услуги в поисковых системах
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">6</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Создаем рекламные объявления на основе Вашего уникального торгового предложения
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">7</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Запуск рекламных кампаний
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">8</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Работа с минус словами (удаление не эффективных ключевых запросов)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">9</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Корректировка созданных ранее объявлений (добавление информации об акциях, графике работы и т.д.)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">10</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Автоматическое/Ручное управление ставками
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">11</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Мониторинг рекламных кампаний
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 context-features mb-4">
                <div class="block-border ">
                    <div class="row ">
                        <div class="col-md-1 ">
                            <span class="big-orange-number">12</span>
                        </div>
                        <div class="col-md-10 ">
                            <p>
                                Ежемесячно предоставляем отчетность о проделанной работе с планом работ на следующий месяц
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- гарантии начало-->
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
        <h3 class="context-h1 ">Гарантии</h3>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="row">
            <div class="col-md-5">
                <ul class="garantii-list">
                    <li>
                        Мы гарантируем профессиональный подход ко всем необходимым работам по настройке и ведению контекстной рекламы
                    </li>
                    <li>Мы гарантируем увеличение переходов и обращений потенциальных клиентов на Ваш сайт/группу от 20 до 80% (в зависимости от специфики Вашего бизнеса)</li>
                    <li>Мы гарантируем предоставление рекомендаций не только по привлечению клиентов на сайт/группу, но и по увеличению конверсий (продаж)</li>
                    <li>Мы гарантируем предоставление ежемесячных отчетов о проделанной работе с рекомендациями</li>
                    <li>Мы гарантируем предоставление всех закрывающих отчетных документов в срок, для Вашей бухгалтерии</li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1">
                <img style="width: 100%" src="{% static 'images/section_our_team_01.png' %}" alt="">
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <h3 class="context-h1 ">Кто будет работать над Вашим сайтом</h3>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="row  align-items-center">
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-diz.png' %}" alt="">
                <h4>Дизайнер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-context.png' %}" alt="">
                <h4>Копирайтер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-target.png' %}" alt="">
                <h4>Директолог</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-boss.png' %}" alt="">
                <h4>Менеджер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-prog.png' %}" alt="">
                <h4>Программист</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-seo.png' %}" alt="">
                <h4>SEO-оптимизатор</h4>
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
        <div class="row">
            <div style="padding: 20px" class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box">
                    <div class="b-price-box__header">
                        <div class="price">Базовый</div>
                        {#                        <div class="opisanie">Небольшой лендинг</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Поиск + Ретаргетинг + РСЯ (Яндекс)">
                                Настройка рекламной кампании
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Ведение рекламной кампании
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "1 раз в месяц">
                                Частота редактирования объявлений
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Предоставление отчета
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Управление ставками (Автомат)
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price1">7 000Р / мес</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box b-price-box_business">
                    <div class="b-price-box__header">
                        <div class="price">Оптимальный</div>
                        {#                        <div class="opisanie">Стандартный лендинг со всем нужным</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Поиск + Ретаргетинг + РСЯ/КМС (Яндекс/Google)">
                                Настройка рекламной кампании
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Ведение рекламной кампании
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Неограниченно">
                                Частота редактирования объявлений
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Предоставление отчета
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Индивидуальная разработка изображений для РСЯ/КМС">
                                Создание и разработка изображений
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Установка целей на сайте для Яндекс Метрики/Google Analytic">
                                Установка целей
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Подключение сервисов для повышения заявок с сайта">
                                Подключение сервисов
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "дизайн, редизайн, верстка, программирование">
                                Работы по сайту
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Управление ставками (В ручную)
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price2">14 000Р  / мес</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
            <div style="padding: 20px" class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box b-price-box_pro">
                    <div class="b-price-box__header">
                        <div class="price">Продвинутый</div>
                        {#                        <div class="opisanie">Для тех, кто хочет выжать с сайта всё</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Поиск + Ретаргетинг + РСЯ/КМС (Яндекс/Google)">
                                Настройка рекламной кампании
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Ведение рекламной кампании
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Неограниченно">
                                Частота редактирования объявлений
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Предоставление отчета
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Индивидуальная разработка изображений для РСЯ/КМС">
                                Создание и разработка изображений
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Установка целей на сайте для Яндекс Метрики/Google Analytic">
                                Установка целей
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Подключение сервисов для повышения заявок с сайта">
                                Подключение сервисов
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "дизайн, редизайн, верстка, программирование">
                                Работы по сайту
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Управление ставками (В ручную)
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                E-MAIL рассылка
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Оформление групп в соц.сетях
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                SEO продвижение сайта
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price3">23 000Р / мес</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap-60"></div>
    <div class="gap-60"></div>
    <div class="container">
        <h3 class="context-h1 ">Наши кейсы</h3>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
        <div class="row">
            {% for case in showCases %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-4">
                    <figure class="imghvr-blur"><img src="{{ case.image.url }}" alt="example-image">
                        <figcaption>
                            <h3>{{ case.caseName }}</h3>
                            <p>{{ case.showcaseInfo }}</p>
                            <a class="btn btn-3" href="javascript:void(0);" onclick="getCaseInfo({{ case.id }})">СМОТРЕТЬ ПРОЕКТ</a>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="gap-60"></div>
    <div class="gap-40"></div>
    <div class="gap-60"></div>
    {% include 'staticPages/big_form_buttons.html' %}
    <div class="gap-60"></div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/circle.js' %}"></script>
{% endblock %}

