{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="contacts py-4 mb-4">
        <div class="contacts-part1">
            <div>
                <h3>Мы на связи!</h3>
                <p>Свяжитесь с нами самостоятельно</p>
                <span >8 800 777 26 47</span><br> Пн-Пт с 9:00 до 22:00<br><br>
                <a href="mailto:igor@astrapromo.ru">igor@astrapromo.ru</a>
                <p>г. Челябинск, проспект Победы, д. 160</p>
            </div>
        </div>
        <div  class="contacts-part2">
            <div style="max-width: 63%">
                <h3>Готовы сделать заказ?</h3>
                <p>Заполните форму, и мы свяжемся с вами</p>
                <form  id="callBackForm" onsubmit="callBack_home(event,'contact');" autocomplete="off" class="py-2" >
                    <div class="row">
                        <div class="col-md-4 col-sm-1 mb-4"> <input type="text" id="callBackHome_name" required="required" placeholder="Ваше имя"></div>
                        <div class="col-md-4 col-sm-1  mb-4"><input type="text" id="callBackHome_email" required="required" placeholder="Email"></div>
                        <div class="col-md-4 col-sm-1 mb-4"><input type="text" id="callBackHome_phone" required="required" placeholder="Сотовый номер"></div>
                    </div>
                    <button id="homeSubmit"  type="submit" class="btn btn-2">Отправить</button>
                </form>
                <p style="color: #fff; font-size: x-large; display: none;" id="callBackHome_done">Ваш запрос отправлен. Ожидайте звонка.</p>
            </div>
        </div>
    </div>
    <div class="container map py-4">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=wV4KUfd1FmMqhVPKqMoHVGlhhUwzBOoD&height=400"></script>
            </div>
        </div>
    </div>
    <div class="gap-60"></div>
    {% include 'staticPages/callBack_modal.html' %}
{% endblock %}
{% block js %}
{% endblock %}

