{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="gap-40"></div>
<h1 class="seo-h1">Комплексное продвижение сайтов от 14 900 рублей в месяц</h1>
<div class="gap-40"></div>
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1  mb-4">

                <p>Продвижение сайтов – это не просто работа над позициями сайта. Сейчас, чтобы продвижение было успешным, важно работать по всем направлениям развития сайта.</p>

                    <p>Заказывая продвижение сайта у нас, Вы получаете:</p>
                <ul class="seo-list">
                    <li>Высокие позиции в поисковых системах</li>
                    <li>Техническую поддержку и обслуживание сайта</li>
                    <li>Наполнение сайта материалами</li>
                    <li>Повышение показателей конверсии и удобства использования</li>
                    <li>Анализ сайта и конкурентов</li>
                </ul>


            </div>
            <div class="col-md-3 offset-md-2 order-md-2 mb-4">
                <img class="img-fluid" src="{% static 'images/seo1.jpg' %}" alt="">
            </div>
        </div>

<h3 class="seo-h1">Наши преимущества</h3>
<div class="gap-40"></div>
<div class="row">
    <div class="col-md-4 col-lg-4 col-sm-12 text-center seo-feature mb-4">
      <p class="seo-feature-number">9 лет</p>
        <p class="seo-feature-head">на рынке</p>
        <p class="seo-feature-info">Опытные специалисты в области веб<br>разработок и интернет-маркетинге</p>
    </div>
     <div class="col-md-4 col-lg-4 col-sm-12 text-center seo-feature mb-4">
      <p class="seo-feature-number">10 000+</p>
        <p class="seo-feature-head">запросов</p>
        <p class="seo-feature-info">Успешно продвинуто в поисковых<br>системах</p>
    </div>
      <div class="col-md-4 col-lg-4 col-sm-12 text-center seo-feature mb-4">
      <p class="seo-feature-number">50</p>
        <p class="seo-feature-head">сайтов</p>
        <p class="seo-feature-info">В успешном продвижении на постоянной<br> основе</p>
    </div>
</div>
    <div class="gap-20"></div>
<h3 class="seo-h1">Этапы работ</h3>
<div class="gap-40"></div>
<div class="row">
    <div class="col-md-3 col-lg-3 col-sm-12 seo-work-plan text-center mb-4">
        <img src="{% static 'images/seo2.jpg' %}" alt="">
        <div>
            <span class="seo-work-plan-number">1</span>
            <span class="seo-work-plan-info">Технический<br>анализ сайта</span>
        </div>
    </div>
     <div class="col-md-3 col-lg-3 col-sm-12 seo-work-plan text-center mb-4">
        <img src="{% static 'images/seo3.jpg' %}" alt="">
        <div>
            <span class="seo-work-plan-number">2</span>
            <span class="seo-work-plan-info">Анализ юзабилити<br>и сайтов конкурентов</span>
        </div>
    </div>
     <div class="col-md-3 col-lg-3 col-sm-12 seo-work-plan text-center mb-4">
        <img src="{% static 'images/seo4.jpg' %}" alt="">
        <div>
            <span class="seo-work-plan-number">3</span>
            <span class="seo-work-plan-info">Подбор<br>запросов</span>
        </div>
    </div>
     <div class="col-md-3 col-lg-3 col-sm-12 seo-work-plan text-center mb-4">
        <img src="{% static 'images/seo5.jpg' %}" alt="">
        <div>
            <span class="seo-work-plan-number">4</span>
            <span class="seo-work-plan-info">Написание<br>контента</span>
        </div>
    </div>
     <div class="col-md-3 col-lg-3 col-sm-12 seo-work-plan text-center mb-4">
        <img src="{% static 'images/seo6.jpg' %}" alt="">
        <div>
            <span class="seo-work-plan-number">5</span>
            <span class="seo-work-plan-info">Оптимизация<br>сайта</span>
        </div>
    </div>
     <div class="col-md-3 col-lg-3 col-sm-12 seo-work-plan text-center mb-4">
        <img src="{% static 'images/seo7.jpg' %}" alt="">
        <div>
            <span class="seo-work-plan-number">6</span>
            <span class="seo-work-plan-info">Увеличение<br>ссылочной массы</span>
        </div>
    </div>
     <div class="col-md-3 col-lg-3 col-sm-12 seo-work-plan text-center mb-4">
        <img src="{% static 'images/seo8.jpg' %}" alt="">
        <div>
            <span class="seo-work-plan-number">7</span>
            <span class="seo-work-plan-info">Развитие<br>сайта</span>
        </div>
    </div>
     <div class="col-md-3 col-lg-3 col-sm-12 seo-work-plan text-center mb-4">
        <img src="{% static 'images/seo9.jpg' %}" alt="">
        <div>
            <span class="seo-work-plan-number">8</span>
            <span class="seo-work-plan-info">Удержание<br>позиций</span>
        </div>
    </div>
</div>
    <div class="d-none d-lg-block">
     <div class="gap-20"></div>
        <h3 class="seo-h1">Какой результат вы получите</h3>
        <div class="gap-40"></div>
        <div class="seo-up">
            <div class="seo-up-1 text-center">
                Современный<br>и удобный сайт для<br>посетителей
            </div>
            <div class="seo-up-2 text-center">
                Высокие позиции<br>в поисковых системах
            </div>
            <div class="seo-up-3 text-center">
                Рост посещаемости<br>сайта
            </div>
            <div class="seo-up-4 text-center">
                Увеличение<br>заявок
            </div>


        </div>
    </div>

<div class="gap-40"></div>
<h3 class="seo-h1">Кто будет работать над Вашим сайтом</h3>
<div class="gap-40"></div>
<div class="row seo-team">
    <div class="col-md-2 col-lg-2 col-sm-12   text-center mb-4">
        <img src="{% static 'images/seo10.jpg' %}" alt="">
        <p>Дизайнер</p>
    </div>
     <div class="col-md-2 col-lg-2 col-sm-12  text-center mb-4">
        <img src="{% static 'images/seo11.jpg' %}" alt="">
        <p>Копирайтер</p>
    </div>
     <div class="col-md-2 col-lg-2 col-sm-12  text-center mb-4">
        <img src="{% static 'images/seo12.jpg' %}" alt="">
        <p>SEO-специалист</p>
    </div>
     <div class="col-md-2 col-lg-2 col-sm-12  text-center mb-4">
        <img src="{% static 'images/seo13.jpg' %}" alt="">
        <p>Персональный
менеджер</p>
    </div>
     <div class="col-md-2 col-lg-2 col-sm-12  text-center mb-4">
        <img src="{% static 'images/seo14.jpg' %}" alt="">
        <p>Программист</p>
    </div>
     <div class="col-md-2 col-lg-2 col-sm-12  text-center mb-4">
        <img src="{% static 'images/seo15.jpg' %}" alt="">
        <p>Веб-аналитик</p>
    </div>
</div>
</div>
{% include 'staticPages/big_form_buttons.html' %}
<div class="gap-60"></div>
{% endblock %}

{% block js %}

{% endblock %}

