{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div class="container">
       <div class="row align-items-center context-head">
        <div class="col-md-6 order-md-1 mb-4 ">
            <h1 class="home-h1">Комплексное продвижение сайтов от <span class="color-orange cool-text"><strong>14 900</strong></span> рублей в месяц</h1>
            <p class="mb-4">Сейчас, чтобы продвижение было успешным, важно<br> работать по всем направлениям развития сайта</p>
            <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">заказать настройку</a>
        </div>
        <div class="col-md-6  order-md-2 mb-4">
            <img class="img-fluid" src="{% static 'images/seo_head.jpg' %}" alt="">
        </div>
    </div>
    <div class="gap-60"></div>
    <div class="gap-60"></div>
     <h3 class="context-h1">Наши преимущества</h3>
    <div class="gap-40"></div>
        <div class="row mb-4">
            <div class="row-12">
                <img src="{% static 'images/seo_icons.jpg'%}" alt="">
            </div>
        </div>
        <div class="row context-feature">
                <div class="col-md-3 mb-4">
                    <p class="mb-4">Компания существует на рынке</p>
                    <p >
                    Опытные специалисты в области веб разработок и интернет-маркетинге
                    </p>
                </div>

                <div class="col-md-3 offset-md-1  mb-4 ">
                  <p class="mb-4">Запросов в поисковых системах</p>
                    <p >
                        Каждый день успешно продвигаем новые запросы
                    </p>
                </div>

                <div class="col-md-3 offset-md-1 mb-4 ">
                    <p class="mb-4">Постоянное продвижение</p>
                    <p >
                   Успешное продвижение на постоянной основе
                    </p>
                </div>

        </div>
   <div class="gap-60"></div>
    <div class="gap-60"></div>

     <h3 class="context-h1 ">Этапы работы</h3>
    <div class="gap-20"></div>
    <div class="gap-60"></div>
     <div class="row  align-items-center">
            <div class="col-md-3 context-features mb-4">
             <div class="block-border ">
                         <span class="big-orange-number">1</span>
                        <p class="block-border-p">
                        Технический анализ сайта
                        </p>
             </div>
         </div>
            <div class="col-md-3 context-features mb-4">
             <div class="block-border ">
                         <span class="big-orange-number">2</span>
                        <p class="block-border-p">
                        Анализ юзабилити и сайтов конкурентов
                        </p>
             </div>
         </div>
            <div class="col-md-3 context-features mb-4">
             <div class="block-border ">
                         <span class="big-orange-number">3</span>
                        <p class="block-border-p">
                        Подбор запросов
                        </p>
             </div>
         </div>
            <div class="col-md-3 context-features mb-4">
             <div class="block-border ">
                         <span class="big-orange-number">4</span>
                        <p class="block-border-p">
                        Написание контента
                        </p>
             </div>
         </div>


          <div class="col-md-3 context-features mb-4">
             <div class="block-border ">
                         <span class="big-orange-number">5</span>
                        <p class="block-border-p">
                       Оптимизация сайта
                        </p>
             </div>
         </div>
            <div class="col-md-3 context-features mb-4">
             <div class="block-border ">
                         <span class="big-orange-number">6</span>
                        <p class="block-border-p">
                        Увеличение ссылочной массы
                        </p>
             </div>
         </div>
            <div class="col-md-3 context-features mb-4">
             <div class="block-border ">
                         <span class="big-orange-number">7</span>
                        <p class="block-border-p">
                        Развитие сайта
                        </p>
             </div>
         </div>
            <div class="col-md-3 context-features mb-4">
             <div class="block-border ">
                         <span class="big-orange-number">8</span>
                        <p class="block-border-p">
                        Удержание позиций
                        </p>
             </div>
         </div>





        </div>



 <div class="gap-60"></div>
     <div class="gap-20"></div>

  <h3 class="context-h1 ">Какой результат вы получите</h3>
    <div class="gap-20"></div>
    <div class="gap-60"></div>
     <div class="row  align-items-center">
            <div class="col-md-3 seo-features mb-4">
                <img src="{% static '/images/seo_icon1.png' %}" alt="">
                <h4>Собственный веб-сайт</h4>
                <p>
                    Современный и удобный сайт для посетителей
                </p>
            </div>
          <div class="col-md-3 seo-features mb-4">
                <img src="{% static '/images/seo_icon2.png' %}" alt="">
                <h4>Первые места в поиске</h4>
                <p>
                    Высокие позиции в поисковых системах
                </p>
            </div>
          <div class="col-md-3 seo-features mb-4">
                <img src="{% static '/images/seo_icon3.png' %}" alt="">
                <h4>Статистика</h4>
                <p>
                    Рост посещаемости сайта
                </p>
            </div>
          <div class="col-md-3 seo-features mb-4">
                <img src="{% static '/images/seo_icon4.png' %}" alt="">
                <h4>Лиды</h4>
                <p>
                    Увеличение заявок
                </p>
            </div>

     </div>

 <div class="gap-60"></div>
     <div class="gap-20"></div>

  <h3 class="context-h1 ">Кто будет работать над Вашим сайтом</h3>
    <div class="gap-20"></div>
    <div class="gap-60"></div>
     <div class="row  align-items-center">
            <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Дизайнер</h4>
            </div>
          <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Копирайтер</h4>
            </div>
          <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>SEO-специалист</h4>
            </div>
          <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Менеджер</h4>
            </div>
          <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Программист</h4>
            </div>
          <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Веб-аналитик</h4>
            </div>


     </div>
</div>
</div>


     <div class="gap-60"></div>
{% include 'staticPages/big_form_buttons.html' %}
<div class="gap-60"></div>

{% endblock %}



{% block js %}

{% endblock %}

