{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row align-items-center context-head">
            <div class="col-md-6 order-md-1 mb-4 ">
                <h1 class="home-h1">Комплексное <span class="color-orange cool-text">SEO продвижение</span> сайтов любой сложности</h1>
                <p class="mb-4">Сейчас, чтобы продвижение было успешным, важно<br> работать по всем направлениям развития сайта</p>
                <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать продвижение</a>
            </div>
            <div class="col-md-6  order-md-2 mb-4">
                <img class="img-fluid" src="{% static 'images/seo_head.jpg' %}" alt="Зачем нужно SEO продвижение сайтов?">
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <h3 class="context-h1">Зачем нужно SEO продвижение сайтов?</h3>
        <div class="gap-40"></div>
        <div class="row align-items-center ">
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/context-icon-1.png' %}" alt="Зачем нужно SEO продвижение сайтов?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Бюджет</h4>
                        <p>Если у Вас не большой бюджет на привлечение клиентов, но очень нужны заявки с сайта/группы в соцсетях на услуги/товары</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/context-icon-2.png' %}" alt="Зачем нужно SEO продвижение сайтов?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Экономия</h4>
                        <p>Если Вы хотите существенно сократить бюджет на контекстную рекламу, особенно если у Вас интернет-магазин</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/context-icon-3.png' %}" alt="Зачем нужно SEO продвижение сайтов?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Онлайн</h4>
                        <p>Если нужны продажи в других регионах, но там нет Вашего физического присутствия</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/context-icon-4.png' %}" alt="Зачем нужно SEO продвижение сайтов?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Клиенты</h4>
                        <p>Если нужны клиенты, которые не доверяют контекстной рекламе, а ищут информацию только в поисковой выдаче Яндекса и Google</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
        <div class='seo-supermacy-wrapper'>
            <h3 class="context-h1 text-center ">Преимущества SEO продвижения</h3>
            <div class="gap-60"></div>
            <div class="gap-40"></div>
            <div class="seo-supermacy">
                <div class="big-circle">
                    <div class="inner-circle super-1">
                        <img src="{% static 'images/seo-super-1.png' %}" alt="Преимущества SEO продвижения">
                        <span style="display: none" class="super-text">Возможность продвигать неограниченное количество поисковых (ключевых) запросов</span>
                    </div>
                    <div class="inner-circle super-2">
                        <img src="{% static 'images/seo-super-2.png' %}" alt="Преимущества SEO продвижения">
                        <span style="display: none" class="super-text">Дает максимальный рост трафика</span>
                    </div>
                    <div class="inner-circle super-3">
                        <img src="{% static 'images/seo-super-3.png' %}" alt="Преимущества SEO продвижения">
                        <span style="display: none" class="super-text">Вызывает больше доверия у потенциальных покупателей, в сравнении с рекламой</span>
                    </div>
                    <div class="inner-circle super-4">
                        <img src="{% static 'images/seo-super-4.png' %}" alt="Преимущества SEO продвижения">
                        <span style="display: none" class="super-text">Большой охват аудитории потенциальных клиентов</span>
                    </div>
                    <div class="inner-circle super-5">
                        <img src="{% static 'images/seo-super-5.png' %}" alt="Преимущества SEO продвижения">
                        <span style="display: none" class="super-text">Низкая стоимость привлечения клиентов на сайт, нет привязки к кликам</span>
                    </div>
                    <div class="inner-circle super-6">
                        <img src="{% static 'images/seo-super-6.png' %}" alt="Преимущества SEO продвижения">
                        <span style="display: none" class="super-text">Работы по SEO продвижению ведутся сразу для всех поисковых систем, что позволяет существенно экономить на рекламном бюджете и дает максимальный трафик</span>
                    </div>
                    <div class="inner-text">Возможность продвигать неограниченное количество поисковых (ключевых) запросов</div>
                </div>
            </div>
            <!-- гарантии начало-->
            <div class="gap-60"></div>
            <div class="gap-60"></div>
            <div class="gap-40"></div>
        </div>
        <h3 class="context-h1 ">Гарантии</h3>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="row">
            <div class="col-md-5">
                <ul class="garantii-list">
                    <li>
                        Мы гарантируем профессиональный подход ко всем необходимым работам по настройке и ведению таргетированной рекламы
                    </li>
                    <li>Мы гарантируем увеличение переходов и обращений потенциальных клиентов на Ваш сайт/группу от 20 до 80% (в зависимости от специфики Вашего бизнеса)</li>
                    <li>Мы гарантируем предоставление рекомендаций не только по привлечению клиентов на сайт/группу, но и по увеличению конверсий (продаж)</li>
                    <li>Мы гарантируем предоставление ежемесячных отчетов о проделанной работе с рекомендациями</li>
                    <li>Мы гарантируем предоставление всех закрывающих отчетных документов в срок, для Вашей бухгалтерии</li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1">
                <img src="{% static 'images/section_our_team_01.png' %}" alt="">
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <div class="row">
            <div style="padding: 20px" class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box">
                    <div class="b-price-box__header">
                        <div class="price">Базовый</div>
                        {#                        <div class="opisanie">Небольшой лендинг</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Анализ конкурентов/ниши
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Seo аудит сайта
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                SEO оптимизация сайта
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "до 7">
                                Количество продвигаемых разделов
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Работа со ссылочной массой
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Предоставление отчета 1 раз в месяц
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price1">9 000Р / мес</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box b-price-box_business">
                    <div class="b-price-box__header">
                        <div class="price">Оптимальный</div>
                        {#                        <div class="opisanie">Стандартный лендинг со всем нужным</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Анализ конкурентов/ниши
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Seo аудит сайта
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                SEO оптимизация сайта
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "до 30">
                                Количество продвигаемых разделов
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Работа со ссылочной массой
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Предоставление отчета 1 раз в месяц
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Работы по дизайну, верстке, программированию">
                                Работа с юзабилити
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Подключение сервисов для повышения заявок с сайта">
                                Подключение сервисов
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price2">19 000Р  / мес</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
            <div style="padding: 20px" class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box b-price-box_pro">
                    <div class="b-price-box__header">
                        <div class="price">Продвинутый</div>
                        {#                        <div class="opisanie">Для тех, кто хочет выжать с сайта всё</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Анализ конкурентов/ниши
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Seo аудит сайта
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                SEO оптимизация сайта
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Неограничено">
                                Количество продвигаемых разделов
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Работа со ссылочной массой
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Предоставление отчета 1 раз в месяц
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Работы по дизайну, верстке, программированию">
                                Работа с юзабилити
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Подключение сервисов для повышения заявок с сайта">
                                Подключение сервисов
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                E-mail рассылка
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Настройка и ведение контекстной рекламы в Яндексе/Google">
                                Контекстная реклама
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "Написание уникальных seo текстов">
                                Работа с текстами
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price3">35 000Р / мес</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="gap-20"></div>
        <h3 class="context-h1 ">Кто будет работать над Вашим сайтом</h3>
        <div class="gap-20"></div>
        <div class="gap-60"></div>
        <div class="row  align-items-center">
            <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Дизайнер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Копирайтер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>SEO-специалист</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Менеджер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Программист</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img src="{% static '/images/seo_circle.png' %}" alt="">
                <h4>Веб-аналитик</h4>
            </div>
        </div>
    </div>
    <div class="gap-60"></div>
    <div class="gap-60"></div>
    <div class="container">
        <h3 class="context-h1 ">Наши кейсы</h3>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
        <div class="row">
            {% for case in showCases %}
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-4">
                    <figure class="imghvr-blur"><img src="{{ case.image.url }}" alt="{{ case.caseName }}">
                        <figcaption>
                            <h3>{{ case.caseName }}</h3>
                            <p>{{ case.showcaseInfo }}</p>
                            <a class="btn btn-3" href="javascript:void(0);" onclick="getCaseInfo({{ case.id }})">СМОТРЕТЬ ПРОЕКТ</a>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="gap-60"></div>
    <div class="gap-40"></div>
    <div class="gap-60"></div>
    {% include 'staticPages/big_form_buttons.html' %}
    <div class="gap-60"></div>
{% endblock %}

{% block js %}
{% endblock %}