{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="row">
    {% for case in showCases %}
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-4">
         <figure class="imghvr-blur"><img src="{{ case.image.url }}" alt="example-image">
            <figcaption>
              <h3>{{ case.caseName }}</h3>
              <p>{{ case.showcaseInfo }}</p>
                 <a class="btn btn-3" href="javascript:void(0);" onclick="getCaseInfo({{ case.id }})" >СМОТРЕТЬ ПРОЕКТ</a>
            </figcaption>
          </figure>


        </div>

         {% endfor %}
</div>
    </div>


<div class="gap-60"></div>
    {% include 'staticPages/big_form_buttons.html' %}
    {% include 'staticPages/case_modal.html' %}
    <div class="gap-60"></div>




{% endblock %}

{% block js %}
    <script src="{% static 'js/showCase.js' %}"></script>
{% endblock %}

