{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="breadcrumbs">
            <ol  itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="/">
                        <span itemprop="name">Главная</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <span itemprop="name">Кейсы</span>
                    <meta itemprop="position" content="2">
                </li>
            </ol>
        </div>
            <div class="row">
            {% for case in showCases %}
                <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-4">
                    <figure style="position: relative;" class="imghvr-blur"><img height="350px" src="{{ case.image.url }}" alt="{{ case.caseName }}">
                       <span style="position: absolute;
    left: 50px;
    bottom: 20px;
    font-size: 12px;
    background: #f25c19;
    text-transform: uppercase;
    z-index: 10;" class="badge badge-primary">{{ case.type_verbose }}</span>
                        <figcaption>
                            <h3>{{ case.caseName }}</h3>
                            <p>{{ case.showcaseInfo }}</p>
                            <a class="btn btn-3" href="javascript:void(0);" onclick="getCaseInfo({{ case.id }})">СМОТРЕТЬ ПРОЕКТ</a>
                        </figcaption></a>
                    </figure>
                </div>
            {% endfor %}
        </div>


    </div>
    <div class="gap-60"></div>
    {% include 'staticPages/big_form_buttons.html' %}
    {% include 'staticPages/case_modal.html' %}
    <div class="gap-60"></div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/showCase.js' %}"></script>
{% endblock %}

