{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row align-items-center context-head">
            <div class="col-md-6 order-md-1 mb-4 ">
                <h1 class="home-h1">Создание сайтов и лендингов <span class="color-orange cool-text"><strong>любой сложности</strong></span></h1>
                <p class="mb-4">Помимо услуг по продвижению сайтов, мы так же профессионально занимаемся созданием сайтов</p>
                <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">заказать сайт</a>
            </div>
            <div class="col-md-6  order-md-2 mb-4">
                <img class="img-fluid" src="{% static 'images/sites-head.jpg' %}" alt="Создание сайтов и лендингов">
            </div>
        </div>
        <h3 class="context-h1 ">Зачем вам сайт?</h3>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="row align-items-center ">
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/sites-icon1.png' %}" alt="Зачем вам сайт?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Доверие</h4>
                        <p>Формирование личного бренда - важный этап для компании, собственный сайт в фирменном стиле повышает узнаваемость, следовательно, и доверие</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/sites-icon2.png' %}" alt="Зачем вам сайт?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Статусность</h4>
                        <p>Собственный сайт - это показатель серьезности и масштабов вашей компании. Любой крупный бренд имеет свой сайт</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/sites-icon3.png' %}" alt="Зачем вам сайт?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Заявки</h4>
                        <p>Мы строим прототип сайта, ориентируясь на особенности именно Ваших клиентов, благодаря чему он приносит заявки</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6  context-bottom m-b-50 ">
                <div class="row">
                    <div class="col-md-1 ">
                        <img  src="{% static 'images/sites-icon4.png' %}" alt="Зачем вам сайт?">
                    </div>
                    <div class="col-md-10 offset-md-1">
                        <h4>Доступность</h4>
                        <p>Веб-сайт, это первое, что выдают системы при поиске компании по ключевым словам, следовательно, вас будет легко найти</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
        <div class='seo-supermacy-wrapper'>
            <h3 class="context-h1 text-center ">Этапы создания сайта</h3>
            <div class="gap-60"></div>
            <div class="gap-40"></div>
            <div class="seo-supermacy">
                <div class="big-circle">
                    <div class="inner-circle super-1">
                        <img src="{% static 'images/sites-1.png' %}" alt="Этапы создания сайта">
                        <span style="display: none" class="super-text">Заключаем договор</span>
                    </div>
                    <div class="inner-circle super-2">
                        <img src="{% static 'images/sites-2.png' %}" alt="Этапы создания сайта">
                        <span style="display: none" class="super-text">Анализ сферы, рынка, вашей компании и личности, анализ конкурентов</span>
                    </div>
                    <div class="inner-circle super-3">
                        <img src="{% static 'images/sites-3.png' %}" alt="Этапы создания сайта">
                        <span style="display: none" class="super-text">Создание прототипа и написание продающих текстов изходя из предыдущего пункта</span>
                    </div>
                    <div class="inner-circle super-4">
                        <img src="{% static 'images/sites-4.png' %}" alt="Этапы создания сайта">
                        <span style="display: none" class="super-text">Создание тематически стильного и современного дизайна</span>
                    </div>
                    <div class="inner-circle super-5">
                        <img src="{% static 'images/sites-4.png' %}" alt="Этапы создания сайта">
                        <span style="display: none" class="super-text">Верстка</span>
                    </div>
                    <div class="inner-circle super-6">
                        <img src="{% static 'images/sites-6.png' %}" alt="Этапы создания сайта">
                        <span style="display: none" class="super-text">Установка на CMS</span>
                    </div>

                    <div class="inner-text">Заключаем договор</div>
                </div>

            </div>
            <!-- гарантии начало-->
            <div class="gap-60"></div>
            <div class="gap-60"></div>
            <div class="gap-40"></div>
            <div class="gap-20"></div>
        </div>
        <h3 class="context-h1 ">Гарантии</h3>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="row">
            <div class="col-md-5">
                <ul class="garantii-list">
                    <li>Мы гарантируем профессиональный подход ко всем этапам разработки Вашего будущего, продающего сайта</li>
                    <li>Мы гарантируем организацию переходов и обращений потенциальных клиентов Ваш сайт от 20 до 80% (в зависимости от специфики Вашего бизнеса)</li>
                    <li>Мы гарантируем предоставление рекомендаций не только по привлечению клиентов на сайт/группу, но и по увеличению конверсий (продаж)</li>
                    <li>Мы гарантируем предоставление в срок всех закрывающих отчетных документов для Вашей бухгалтерии</li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1">
                <img style="width: 100%" src="{% static 'images/section_our_team_01.png' %}" alt="">
            </div>
        </div>
         <div class="gap-60"></div>
        <div class="gap-60"></div>
        <h3 class="context-h1 ">Кто будет работать над Вашим сайтом</h3>
        <div class="gap-40"></div>
        <div class="gap-60"></div>
        <div class="row  align-items-center">
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-diz.png' %}" alt="">
                <h4>Дизайнер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                    src="{% static 'images/circle-copy.png' %}" alt="">
                <h4>Копирайтер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-target.png' %}" alt="">
                <h4>Директолог</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-boss.png' %}" alt="">
                <h4>Менеджер</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-prog.png' %}" alt="">
                <h4>Программист</h4>
            </div>
            <div class="col-md-2 seo-features mb-4 text-center">
                <img style="width: 135px; border-radius:50%"
                     src="{% static 'images/circle-seo.png' %}" alt="">
                <h4>SEO-оптимизатор</h4>
            </div>
        </div>
        <div class="gap-60"></div>
        <div class="gap-60"></div>
        <div class="gap-40"></div>
     <h3 class="context-h1 text-underline our-cases">Наши тарифы</h3>
        <div class="gap-20"></div>
        <!-- гарантии конец-->
        <div class="row">
            <div style="padding: 20px" class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box">
                    <div class="b-price-box__header">
                        <div class="price">Базовый</div>
                        {#                        <div class="opisanie">Небольшой лендинг</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Прототип
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Индивидуальный дизайн
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Верстка
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Подключение форм
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Установка макета на хостинг
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price1">от 15 000Р</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box b-price-box_business">
                    <div class="b-price-box__header">
                        <div class="price">Оптимальный</div>
                        {#                        <div class="opisanie">Стандартный лендинг со всем нужным</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Прототип
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                SEO
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Индивидуальный дизайн
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Верстка
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Адаптивная верстка
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Подключение форм
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Админ-панель (CMS система)
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Виджеты обратного звонка, онлайн чат
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price2">от 20 000Р</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
            <div style="padding: 20px" class="col col-xs-12 col-sm-6 col-md-4">
                <div class="b-price-box b-price-box_pro">
                    <div class="b-price-box__header">
                        <div class="price">Продвинутый</div>
                        {#                        <div class="opisanie">Для тех, кто хочет выжать с сайта всё</div>#}
                    </div>
                    <div class="b-price-box__content">
                        <ul>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Прототип
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                SEO
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Настройка рекламы Яндекс/Google
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Индивидуальный дизайн
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Верстка
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Адаптивная верстка
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Подключение форм
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Админ-панель (CMS система)
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Виджеты обратного звонка, онлайн чат
                            </li>
                            <li data-toggle="tooltip" data-placement="top" data-original-title=""  title= "">
                                Фирменный стиль
                            </li>
                        </ul>
                    </div>
                    <div class="b-price-box__footer">
                        <div class="price3">от 30 000Р</div>
                        <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">Заказать </a>
                    </div>
                </div>
            </div>
        </div>
     <div class="gap-60"></div>
        <div class="gap-60"></div>
     <h3 class="context-h1 text-underline our-cases">Наши работы</h3>
        <div class="gap-20"></div>
        <div class="portfolio-slides-wrapper">
            <div class="portfolio-slides ">
                {% for site in sites %}
                    <div class="single">
                        <div class="slick-overlay ">
                            <a href="{{ site.image.url }}">
                                <img  width="200" height="280px" src="{{ site.image.url }}" alt=""/>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        <div class="gap-60"></div>
        <div class="gap-60"></div>
        </div>
    </div>


    {% include 'staticPages/big_form_buttons.html' %}
    <div class="gap-60"></div>
{% endblock %}

{% block js %}
<script src="{% static 'js/circle.js' %}"></script>
     <script>
       $('.portfolio-slides').slick({
        infinite        : true,
        slidesToShow    : 5,
        slidesToScroll  : 1,
        mobileFirst     : true,
        responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 425,
      settings: {
          arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
    });


    $('.portfolio-slides').slickLightbox({
        itemSelector        : 'a',
        navigateByKeyboard  : true
    });
     </script>
{% endblock %}

