{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9 sites-main">
            <h1>Создание сайтов любой сложности</h1>
            <p>
                По мимо услуг продвижения сайтов, мы так же профессионально занимаемся созданием сайтов. Если вы хотите получить реально работающий сайт, то вы на правильном пути.
            </p>
            <div class="row py-4 align-items-center">

                <div class="col-md-4 text-center mb-4 py-4">
                    <img src="{% static 'images/sites1.jpg' %}">
                </div>
                <div class="col-md-6 mb-4 py-4">
                  <h3>Создание сайтов для всех</h3>
                       <div class="gap-20"></div>
                     • Сайт-визитка<br>
                     • Корпоративный портал<br>
                     • Интернет магазин<br>
                     • Лендинг-пэйдж<br>
                </div>

                <div class="col-md-6 mb-4 py-4">
                    <h3> В стоимость создания сайта входит:</h3>
                       <div class="gap-20"></div>
                     • Разработка технического задания<br>
                     • Изготовление дизайна сайта<br>
                     • Разработка сайта<br>
                     • Написание уникального контента для сайта<br>
                     • Наполнение сайта<br>
                     • Домен и хостинг на год<br>
                </div>

                <div class="col-md-4 text-center mb-4 py-4">
                    <img src="{% static 'images/sites2.jpg' %}">
                </div>

                 <div class="col-md-4 text-center mb-4 py-4">
                    <img src="{% static 'images/sites3.jpg' %}">
                </div>
                <div class="col-md-6 mb-4 py-4">
                  <h3>Заказывая изготовление сайта в нашей компании Вы можете быть уверены, что:</h3>
                       <div class="gap-20"></div>
                    • Сайт будет выполнен в срок<br>
                    • Сайт будет полностью завершён и готов к выполнению своих функций<br>
                    • Сайт будет наполнен и готов к дальнейшему продвижению в поисковых системах
                </div>

                 <div class="col-md-6 mb-4 py-4">
                    <h3>Этапы создания сайта</h3>
                     <div class="gap-20"></div>
                    1. Определение концепции будущего сайта<br>
                    2. Подписание договора<br>
                    3. Разработка технического задания на создание сайта<br>
                    4. Изготовление макета будущего сайта<br>
                    5. Разработка сайта<br>
                    6. Наполнение сайта<br>
                    7. Демонстрация готового сайта и консультация по управлению сайтом
                </div>

                <div class="col-md-4 text-center mb-4 py-4">
                    <img src="{% static 'images/sites4.jpg' %}">
                </div>

                <div class="col-md-4 text-center mb-4 py-4">
                    <img src="{% static 'images/sites5.jpg' %}">
                </div>
                <div class="col-md-6 mb-4 py-4">
                  <h3>Стоимость разработки сайтов</h3>
                       <div class="gap-20"></div>
                    Цены на создание сайта в нашей компании начинаются<br>
                    <strong>от 49 000 рублей</strong> и оговариваются индивидуально в зависимости от сложности поставленной задачи и требуемого функционала.
                </div>

            </div>
        </div>
        <div  class="col-md-3 portfolio">
            <img src="{% static 'images/foto.png' %}">
            <div>
                <a  href="#">Название проекта</a>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                 <a  href="#">Название проекта</a>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                 <a  href="#">Название проекта</a>
            </div>

            <img src="{% static 'images/foto.png' %}">
            <div>
                 <a  href="#">Название проекта</a>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-md-1 offset-md-5">
            <a class="btn btn-1" href="#">Заказать сайт</a>
        </div>
    </div>
<div class="gap-60"></div>
</div>
{% include 'staticPages/big_form.html' %}
<div class="gap-60"></div>
{% endblock %}

{% block js %}

{% endblock %}

