{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div class="container context-main">
       <div class="row align-items-center context-head">
        <div class="col-md-6 order-md-1 mb-4 ">
            <h1 class="home-h1">Настройка <span class="color-orange"><strong>таргетированной рекламы</strong></span> на всех площадках</h1>
            <p class="mb-4">По мимо услуг продвижения сайтов, мы так же<br>профессионально занимаемся созданием сайтов</p>
            <a style="" class="btn btn-1 " data-toggle="modal" data-target="#callBackModal" href="#">заказать настройку</a>
        </div>
        <div class="col-md-6  order-md-2 mb-4">
            <img class="img-fluid" src="{% static 'images/target-head.jpg' %}" alt="">
        </div>
    </div>
    <div class="gap-60"></div>

     <h3 class="context-h1">Преимущества таргетированной рекламы</h3>
    <div class="gap-40"></div>

<div class="row features ">
    <div class="col-md-1 mb-4">
         <img src="{% static 'images/target_icon1.png' %}" alt="">
    </div>
     <div class="col-md-3 mb-4">

         <p>Относительно невысокая конкуренция среди рекламодателей в социальных сетях, по сравнению с поисковыми системами Яндекс и Google</p>

    </div>
     <div class="col-md-1 ">
        <img src="{% static 'images/target_icon2.png' %}" alt="">
    </div>
     <div class="col-md-3  mb-4">

         <p>Уникальные возможности настройки точечной рекламы</p>


     </div>
     <div class="col-md-1  mb-4">
         <img src="{% static 'images/target_icon3.png' %}" alt="">
    </div>
     <div class="col-md-3  mb-4">

         <p>Не исключает, а скорее эффективно дополняет каналы продвижения: контекстная реклама + seo продвижение</p>

     </div>
</div>
            <div class="row features ">
    <div class="col-md-1 mb-4">
         <img src="{% static 'images/target_icon4.png' %}" alt="">
    </div>
     <div class="col-md-3 mb-4">

         <p>Возможность быть в более «плотном» контакте с потенциальным клиентом</p>

    </div>
     <div class="col-md-1  mb-4">
        <img src="{% static 'images/target_icon5.png' %}" alt="">
    </div>
     <div class="col-md-3  mb-4">

         <p>Возможность получать быструю обратную связь по степени эффективности рекламы</p>


     </div>
     <div class="col-md-1  mb-4">
         <img src="{% static 'images/target_icon6.png' %}" alt="">
    </div>
     <div class="col-md-3  mb-4">

         <p>Возможность снизить текущие расходы на рекламный бюджет до 30-50%</p>

     </div>
</div>
    <div class="gap-20"></div>
     <h3 class="context-h1 ">Этапы работ по настройке и ведению таргетированной рекламы</h3>
    <div class="gap-60"></div>
     <div class="gap-20"></div>
<div class="row features_target ">
    <div class="col-md-1 mb-4">
        <span>1</span>
    </div>
     <div class="col-md-3 mb-4">
        <h3>Разработка стратегии</h3>
         <p>Определение стратегии: продаем в «лоб» или работа «в долгую»</p>

    </div>
     <div class="col-md-1 mb-4">
       <span>2</span>
    </div>
     <div class="col-md-3 mb-4">
         <h3>Подготовка и запуск</h3>
         <p>Выбор целевой аудитории и ее настройка (для детального таргетинга)</p>


     </div>
     <div class="col-md-1 mb-4">
        <span>3</span>
    </div>
     <div class="col-md-3 mb-4">
         <h3>Контроль</h3>
         <p>Непосредственная настройка таргетированной рекламы (выбор плейсментов, и внутренних стратегий</p>

     </div>

</div>
<div class="row features_target ">
    <div class="col-md-1 offset-md-2 mb-2">
        <span>4</span>
    </div>
     <div class="col-md-4 mb-2">
        <h3>Ведение и оптимизация</h3>
         <p>Постоянная разработка и тестирование новых рекламных объявлений для уменьшения расходов на рекламу и получения максимального количества потенциальных клиентов</p>

    </div>
     <div class="col-md-1 mb-2">
       <span>5</span>
    </div>
     <div class="col-md-3 mb-2">
         <h3>Отчетность</h3>
         <p>Предоставляем полные отчеты о проделанной работе</p>


     </div>


</div>

</div>
     <div class="gap-40"></div>
{% include 'staticPages/big_form_buttons.html' %}
       <div class="gap-40"></div>
    <div class="container">
     <h3 class="seo-h1 ">Наши кейсы</h3>
       <div class="gap-40"></div>
    <div class="row">


         {% for case in showCases %}
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-4">
         <figure class="imghvr-blur"><img src="{{ case.image.url }}" alt="example-image">
            <figcaption>
              <h3>{{ case.caseName }}</h3>
              <p>{{ case.showcaseInfo }}</p>
                 <a class="btn btn-3" href="javascript:void(0);" onclick="getCaseInfo({{ case.id }})">СМОТРЕТЬ ПРОЕКТ</a>
            </figcaption><a href="javascript:;"></a>
          </figure>


        </div>

         {% endfor %}
</div>
    </div>


<div class="gap-60"></div>
    {% include 'staticPages/callBack_modal.html' %}
    {% include 'staticPages/case_modal.html' %}

{% endblock %}



