/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');*/

@font-face {
font-family: 'SF UI Display Ultralight';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Ultralight'), url('../fonts/sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Thin';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Thin'), url('../fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Light';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Light'), url('../fonts/sf-ui-display-light-58646b33e0551.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Medium';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Medium'), url('../fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Semibold';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Semibold'), url('../fonts/sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Bold';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Bold'), url('../fonts/sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Heavy';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Heavy'), url('../fonts/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}


@font-face {
font-family: 'SF UI Display Black';
font-style: normal;
font-weight: normal;
src: local('SF UI Display Black'), url('../fonts/sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}

@font-face {
font-family: 'SF UI Regular';
font-style: normal;
font-weight: normal;
src: local('SF UI Regular '), url('../fonts/SFUIDisplay-Regular.ttf');
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

body{
    font-family: 'SF UI Regular';
    -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
    color: #3e454b;
}
/*.container{*/
    /*padding: 0 !important;*/
/*}*/
.color-blue{
    color: #00b4e7;
}

.by-center{
    margin: 0 auto;
    display: block;
}

.color-orange{
    color: #f57d14;
}

.font-size-14{
    font-size: 14px;
}
p{
    margin-bottom: 0;
}


input[type="text"]{
    /*font: 15px/24px 'Open Sans', sans-serif;*/
    font-family: "SF UI Display Light";
    color: white;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    background-color: #f57d14;
    width: 100%;
}

:focus{outline: none;}
::placeholder {
  color: white;
  font-size: 12px;
}

.gap-60{
    display: block;
    height: 60px;
}
.gap-40{
    display: block;
    height: 40px;
}
.gap-30{
    display: block;
    height: 30px;
}
.gap-20{
    display: block;
    height: 20px;
}
.primary-bg{
    background-color: #DB7C26;
}

.primary-color{
    color: #DB7C26;
}

.btn {
    width: 278px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: box-shadow .3s;
    border-radius:6px;
    /*font-family: 'SF UI Display Bold';*/
    /*font-weight: bold;*/
    font-size: 16px;
    letter-spacing: 1px;
    /*font-family: "SF UI Display Medium";*/
     /*-webkit-transition-duration: 0.3s;*/
  /*transition-duration: 0.3s;*/
  /*-webkit-transition-property: transform;*/
  /*transition-property: transform;*/

}

.btn-outlinee{
    border: 1px solid  #f57d14;
    background-color: transparent;
    color: #f57d14;
}
.btn-outlinee:hover {
    border: 1px solid #f25a1a;
    color: #f25a1a;

}
.btn-outline-white{
    border: 1px solid  #fff;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
}
.btn-outline-white:hover {
    border: 1px solid #b5b5b5;
    color: #fff;

}

.btn-1 {
    /*display: block;*/
    /*margin: 0 auto;*/

    background-image: linear-gradient(to right, #F57D14 0%, #F25A1A 100%);
}
.btn-1:hover{
     color: white;
     /*box-shadow: 0 0 20px #F57D14;*/
    box-shadow: 0px 0px 0px rgba(0,0,0,0.25), 0px 3px 2px rgba(0,0,0,0.22);
    /*transform: translateY(-2px);*/
    /*-webkit-transition-duration: 0.3s;*/
  /*transition-duration: 0.3s;*/
  /*-webkit-transition-property: transform;*/
  /*transition-property: transform;*/
}
.btn-2 {
    float: right;
    font-family: 'SF UI Display Semibold';
    font-weight: 600;
    color: #f57d14;
    background-color: white;
}
.btn-2:hover{
    color: #f57d14;
    box-shadow: 0 0 20px #f5f5ef;
}

.btn-3 {
    width: 278px;
    padding: 15px;
    display: block;
    /*margin: 0 auto;*/
    color: #fff;

    background-image: linear-gradient(to right, #F57D14 0%, #F25A1A 100%);

}
.btn-3:hover{
    color: #fff;
    box-shadow: 0 0 5px #F57D14;
}

.features span{
    line-height: 25px;
    font-size: 30px;
    color: #F57D14;
    /*font-weight: 700;*/
    font-family: 'SF UI Display Semibold';
}
.features .col-md-3{
    text-align: justify;
}
.features .col-md-1{
    text-align: center;
}
.features a{
    width: 100%;
}
.features h3{
    font-weight: 700;
    font-size: 18px;
}
.features p{

    font-size: 14px;
    min-height: 120px;
}



.features_target span{
    font-size: 130px;
    font-weight: bold;
    color: #1c8bc573;
    float: right;
    line-height: 91px;
    /* position: relative; */
    /* top: -52px; */
    /* left: 22px; */
}
.features_target .col-md-3{
    /*text-align: justify;*/
}
.features_target .col-md-1{
    text-align: center;
}

.features_target h3{
    font-weight: 700;
    font-size: 18px;
    color: #F57D14;
}
.features_target p{

    font-size: 13px;
    min-height: 120px;
}


/*главное меню*/
.navbar{
    padding: 0;
    font-family: 'SF UI Regular';
}

.navbar ul li a{
    color: #3e454b;
    font-size: 16px;
    transition: all 0.5s;
    font-family: 'SF UI Regular';

}

.navbar ul li a:hover{
    color: #f57d14;
}

.dropdown-menu .dropdown-item:hover{
   color: #fff;
}
.dropdown-menu a{
    font-size: 13px !important;
}

.navbar-toggler{
    border: 1px solid #f57d14;
}

.item-active{
    color: #f57d14 !important;
}
.drop-item-active{
    color: #fff !important;
    background-color: #f57d14 !important;
}

.nav-link{
    padding-right: 30px !important;
    color: #000;
    font-size: 15px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:hover{
    background-color: #f57d14;
}

.dropdown-item{
    font-size: 14px;
}

.dropdown-menu{
    margin: 0px;
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*--------------------главное меню*/

.home-h1{
    line-height: 40px;
   font-family: 'SF UI Display Thin';
    margin-bottom: 70px;
    font-size: 36px;
}

.cool-text{
    font-family: 'SF UI Display Bold';
}

.button-form-long-div{
    padding: 50px 70px 70px 50px;
    height: 530px;
    background-color: #f57d14;
    position: relative;
    top: -30px;
}
.button-form-long-div span{
    color: #fff;


}

.button-form-long-div p{
    font-family: 'SF UI Display Bold';
    font-size: 26px;
    margin-top: 20px;
}

.form_container{

    background-color: #85d3f5;
    height: 470px;

}
.form_inner_container{

    height: 400px;
}
.form_buttons_inner_container h3{
    padding: 93px 0 0 0;
    font-size: 24px;
    /*text-align: center;*/
    color: white;
    font-family: "SF UI Display Bold";
    /*font-weight: 700;*/
    margin-bottom: 20px;
}
.form-inline {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 48px;
    justify-items: stretch;
    align-items: stretch;
}
.form_buttons_inner_container{

    height: 300px;
}
.form_buttons_inner_container p{
    /*padding: 50px 0 50px 0;*/
    /*font-size: 16px;*/
    /*text-align: center;*/
    color: white;
    margin-bottom: 60px;
    /*font-family: 'SF UI Display Semibold';*/
}

.form_buttons_inner_container h4{
    font-size: 16px;
    font-family: "SF UI Regular";
    color: #dff3ff;
    margin-bottom: 55px;
}

.form_buttons_inner_container a{
    float: left;
    margin-top: 25px;
    font-size: 14px;
}
/*мини слайдер*/
.slick-prev
{
left: -70px;
        top: 36%;
}
[dir='rtl'] .slick-prev
{
right: -25px;
left: auto;

}
.slick-prev:before
{
content: "\2039";
font-size: 60px;
}
[dir='rtl'] .slick-prev:before
{
content: "\203A";
}

.slick-next
{
right: -70px;
        top: 36%;
}
[dir='rtl'] .slick-next
{
right: auto;
left: -25px;
}
.slick-next:before
{
content: "\203A";
font-size: 60px;
}
[dir='rtl'] .slick-next:before
{
content: "\2039";
}

.slick-prev:before, .slick-next:before {
color:#f37022 !important;
}

.slick-overlay img {
    opacity: .5;
    transition: all 0.5s;

}

.slick-overlay img:hover {
    opacity: 1;
}
.slick-overlay{
   background-color: rgba(0, 0, 0, 0.31);
   width: 200px;
}
.slick-dots li.slick-active button:before {
    color: #f57d14 !important;
}
.slick-dots li button:before {
    color: #f57d14 !important;
}
.carousel-wrapper {
    /*background-color: rgb(235, 235, 235);*/
    position: relative;
}

.carousel-wrapper a {
  position: relative;
  display: inline-block;
}

.slick-img {
  /*background-color: black;*/
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}

.slick-slide {
    text-align: center !important;
}

.overlay {
    position: absolute;
    height: 100%;
    width:100%;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, .35);
    transition: 0.2s;
    opacity: 0;
}

.carousel-wrapper a:hover .overlay {
    z-index: 99999;
    opacity: 1;
}

.overlay-content {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
}


/*-----------------*/

/*футер*/
.list-inline li a{
    color: #000;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.5s;
}
.list-inline li a:hover{
    color: #f37022;
}

.footer_phone{
    margin: 50px 0 50px 0;
    line-height: 23px;
}
.footer_phone p{
    font-size: 30px;
    font-weight: 700;
}
.footer_phone p a{
    text-decoration: none;
    color: #3e454b;
}
.footer_phone span{
    font-size: 13px;
}
.footer_copyright{
    font-size: 13px;
}
.footer-social  i{
    font-size: 30px;
    margin-left: 15px;
    color: #cecece;
    transition: all 0.5s;
}
.footer-social  a{
    text-decoration: none;

}
.footer-social {
    display: flex;
    float: right;
}

.social-icon{
    opacity: .6;
    cursor: pointer;
    margin-left: 34px;
    width: 27px;
    height: 27px;
    background-image: url("/static/images/icons.png");
     transition: all 0.5s;

}
.icon-vk{
    background-position-x: 0;
}
.icon-inst{
    background-position-x: 151px;
}
.icon-be{
    background-position-x: 239px;
}
.icon-dr{
    background-position-x: 301px;
}

.social-icon:hover{
     transition: all 0.5s;
    opacity: 1;
}
/*---------------------*/


/*модальное окно*/
.callBackModal {
    background: #f57d14;
}
#callBack_done{
    text-align: center;
    padding: 39px;
}

.input-error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*-------------------*/
/* О нас*/
.about-us{
    padding: 40px 40px 0 40px;
}
.team-foto{
   padding: 40px 40px 0 40px;
}

.team-foto img{
    margin-bottom: 40px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.team-foto p{
    font-family: "SF UI Display Bold";
}
.team-name-1{
    border-bottom: 1px solid #f57d14;
    width: 182px;
}
.team-name-2{
    border-bottom: 1px solid #f57d14;
    width: 182px;
}
.team-name-3{
    border-bottom: 1px solid #f57d14;
    width: 182px;
}
.team-name-4{
    border-bottom: 1px solid #f57d14;
    width: 182px;
}

.team-foto span{
    font-size: 14px;
    /*position: relative;*/
    /*top: -15px;*/

}
.team-foto div{
    /*line-height: 0px;*/
    margin-bottom: 40px;

}
.about-us h3 {
    font-family: "SF UI Display Bold";
    margin-bottom: 40px;
}
.about-us p {
    margin-bottom: 40px;
}
.about-us ul{
    list-style: decimal;
}
.about-us ul{
    margin-bottom: 40px;
}
.about-head-1{
    border-bottom: 2px solid #f57d14;
    width: 182px;
}
.about-head-2{
    border-bottom: 2px solid #f57d14;
    width: 234px;
}
.about-head-3{
    border-bottom: 2px solid #f57d14;
    width: 130px;
}
.about-head-4{
    border-bottom: 2px solid #f57d14;
    width: 315px;
}
.about-head-5{
    border-bottom: 2px solid #f57d14;
    width: 163px;
}
/*---------------*/
/*contacts*/
.contacts{
    height: 510px;
}
 .contacts-part1{
    background-color: #33B3DF;

    color: #fff;
}

 .contacts-part1 div{
     position: relative;
     left: 400px;

     padding-top: 80px;
 }
.contacts-part1 span{
    font-size: 25px;
    font-family: "SF UI Display Bold";


}
.contacts-part1 h3{
    margin-bottom: 10px;
}
.contacts-part1 p{
    padding: 20px 0 10px 0;
}

.contacts-part1 a{
    text-decoration: none;
    color: #ffffff;
}
.contacts-part2{
    background-color: #f57d14;
    color: #fff;
    padding-left: 60px;
}
.contacts-part2 h3{
    padding: 80px 0 10px 0;
}
.contacts-part2 button{
    float: left !important;
}
/*----------contacts*/
/*seo*/
.seo-h1{
    font-size: 20px;
    font-weight: 700;
    /*text-align: center;*/
}
.seo-list{
    list-style: none;
}
.seo-features h4{
    font-size: 16px;
    font-family: "SF UI Display Bold";
    margin: 45px 0 27px 0;
}

.seo-features p{
    font-size: 14px;
    font-family: "SF UI Regular";
}
.seo-work-plan img{
    display: block;
    margin: 0 auto;
}
.seo-work-plan div{
    padding-top: 15px;
    display: inline-flex;
    line-height: 11px;
}
.seo-work-plan-number{
    font-size: 40px;
    font-weight: 700;
    color: #F47D13;
    float: left;
}
.seo-work-plan-info{
    font-size: 12px;
    text-align: left !important;
    padding-left: 3px;
}
.seo-up{
    background-image: url('../images/seo0.png');
    height: 202px;
}
.seo-up-1{
    position: relative;
    font-size: 12px;
    line-height: 11px;
    width: 125px;
    top: 110px;
    left: 120px;
}
.seo-up-2{
    position: relative;
    font-size: 12px;
    line-height: 11px;
    width: 125px;
    left: 290px;
}
.seo-up-3{
    position: relative;
    font-size: 12px;
    line-height: 11px;
    width: 125px;
    left: 517px;
    top: -48px;
}
.seo-up-4{
    position: relative;
    font-size: 12px;
    line-height: 11px;
    width: 125px;
    left: 727px;
    top: -113px;
}

.seo-team img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.seo-team p{
    font-size: 14px;
}

/*---------------seo*/

/*sites page*/
.sites-main{
    padding: 40px 0 0 40px;
}
.sites-main h1{
     font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}
.sites-main h3{
    font-size: 20px;
    font-weight: 700;
}
.portfolio{
    padding: 40px 40px 0 40px;
}
.portfolio a{
    text-decoration: none;
    border-bottom: 1px solid #f57d14;
    color: #000000;
    font-weight: 700;
    font-size: 15px;

}
.portfolio div{
    margin-bottom: 40px;
}
.portfolio img{
    margin-bottom: 40px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
/*-----------sites page*/
.sites-for-all span:first-child{
    font-size: 19px;
    margin-right: 10px;
}
.sites-for-all span:last-child{
    font-size: 16px;
    font-family: "SF UI Regular";
}

/*context*/
.context-head p{
    font-size: 18px;
    font-family: "SF UI Regular";

}


.context-h1{
    font-family: "SF UI Display Medium";
    font-size: 30px;
}

.context-feature p:nth-child(1){
    font-family: "SF UI Display Semibold";
    font-size: 16px;
}

.context-feature p:nth-child(2){
    font-family: "SF UI Regular";
    font-size: 14px;
}

.block-border{
    height: 170px;
}

.block-border-p{
    margin-top: 50px;
}

.block-border .big-orange-number{
    background-color: #f57d14;
    font-size: 12px;
    font-family: "SF UI Display Medium";
    color: #fff;
    padding: 5px 9px 5px 9px;
    z-index: 1;
    position: relative;
    right: 5px;
    border-radius: 50%;
}
.center-img{
    position: relative;
    z-index: 1;
    left: 40%;
    margin: -35px 0 -35px 0;
}

.bg-grey{
    background-color: #f5f5f5;
    /*padding: 15px;*/

}

.block-border{
    border: 1px solid #f6f6f6;
    padding: 25px 18px;
}


.context-bottom img{
    float: left;
    margin: 5px 10px 0 0;;
}

.block-border span{
    font-family: "SF UI Display Medium";
    font-size: 30px;
    color: #f57d14;
}

.block-border p{
    font-family: "SF UI Regular";
    font-size: 14px;
    min-height: 124px;
}

.block-border span:nth-child(2){
    font-family: "SF UI Regular";
    font-size: 14px;

    color: #3e454b;
    display: block;
    margin-top: 45px
}



/*--------context*/
/*overlay*/
[class^='imghvr-'], [class*=' imghvr-'] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: rgb(10, 10, 10);

    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  transition: all 0.1s ease;
}

[class^='imghvr-'] > img, [class*=' imghvr-'] > img {
    vertical-align: top;
    max-width: 100%;
}

[class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {
    background-color: rgba(49, 53, 57, 0.95);
    opacity: 0.5;
    padding: 30px 0 0 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}

.imghvr-blur:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 -webkit-transition: all .1s ease;
transition: all .1s ease;
}


[class^='imghvr-'] figcaption h1, [class^='imghvr-'] figcaption h2, [class^='imghvr-'] figcaption h3, [class^='imghvr-'] figcaption h4, [class^='imghvr-'] figcaption h5, [class^='imghvr-'] figcaption h6, [class*=' imghvr-'] figcaption h1, [class*=' imghvr-'] figcaption h2, [class*=' imghvr-'] figcaption h3, [class*=' imghvr-'] figcaption h4, [class*=' imghvr-'] figcaption h5, [class*=' imghvr-'] figcaption h6 {
    color: #ffffff;
}

[class^='imghvr-'] figcaption h3{
    font-size: 24px;
    /*font-weight: 700;*/
    /*text-align: center;*/
    padding-top: 20px;
    font-family: "SF UI Display Medium";
}
[class^='imghvr-'] figcaption h4{
    font-size: 18px;
    /*font-weight: 700;*/
    /*text-align: center;*/

    font-family: "SF UI Regular";
}
[class^='imghvr-'] figcaption p{
    font-size: 14px;
    padding: 20px 0 20px 0;
    min-height: 120px;
    width: 330px;
    /*text-align: center;*/
}

/*[class^='imghvr-'] a, [class*=' imghvr-'] a {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*z-index: 1;*/
/*}*/

[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before,
[class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after,
[class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before,
[class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
    box-sizing: border-box;
    transition: all .3s ease;
}
.imghvr-blur figcaption {
    opacity: 0;
}

.imghvr-blur:hover > img {
    /*-webkit-filter: blur(10px);*/
            /*filter: blur(10px);*/
    /*-webkit-transform: scale(1.2);*/
            /*transform: scale(1.2);*/
    /*opacity: 0.7;*/
}

.imghvr-blur:hover figcaption {
    opacity: 1;
    /*transition-delay: 0.1s ;*/
}
/*--------overlay*/

/*quizModal*/
#quizModal .modal-content{
    border-radius: 0;
    min-height: 412px;

}
#quizModal .row{
    margin: 0;
    min-height: 412px;

}

#quizModal .modal-body{
    padding: 0;
}

#quizModal h3{
    color: #f57d14;
    padding: 25px 0 0 20px;
    font-size: 30px;
    font-family: 'SF UI Display Bold';
    margin-bottom: 15px;
}

.quiz-arrows{
    top: 82%;
    position: relative;
}
.quiz-arrows img{
    opacity: 0.4;
}

.quiz-arrows img:hover{
    opacity: 1;
}
#quizModal .quiz-info span{
    font-size: 12px;
    margin-left: 5px;
}
#quizModal .quiz-info p{
    font-family: "SF UI Display";
}
#quizModal .quiz-small-txt{
    margin: 50px 0 20px 0;
    font-size: 16px;
    max-width: 220px;
}
#quizModal .quiz-info a{
    width: 200px;
    padding: 10px;
    margin: 30px 0 20px 0;
    box-shadow: 0 5px 10px #F57D14;
    cursor: default;
}

#quizModal .quiz-info{
    padding: 0 0 0 40px;
}
#quizModal .quiz-info #discount{
    font-size: 16px;
}
#quizModal .quiz-info img{

}

#quizModal form {
  /*padding: 0 16px;*/
  max-width: 700px;
  margin: 40px 0 0 20px;
  font-size: 16px;
  /*font-weight: 600;*/
  line-height: 36px;
}

.slider-inner{
    transition: 0.5s;
    width: 200px;
    left: 0;
    height: 6px;
    background: #f57d14;
    position: relative;
    top: 4px;
    border-radius: 8px;
}

.quiz-slider{
    border-bottom: 1px solid #F7F7F7;
    margin: 0 0 0 20px;
}
.quiz-input::placeholder{
    color: #3e454b !important;
}
.quiz-input{


    color: #3e454b !important;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #f57d14 !important;
    background-color: #fff !important;
    width: 100%;
}

.question{
    font-family: 'SF UI Display Bold';
    font-size: 24px;
    margin: 0 0 25px 0;

}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;

    cursor: pointer;
    border: 1px solid #f57d14;
}
input[type="radio"]:checked + label span {
    background: url(../images/check_mark.png) no-repeat;
    background-position: 3px 4px;
}



/*-------------quizModal*/

@media (max-width: 544px) {
    .form_container{
        height: 600px;
    }
    .features p{
        min-height: 0;
    }
    .contacts {
    height: 800px;
    }

    .contacts-part1 div{
     position: relative;
     left: 10px;

     padding-top: 20px;
    }
    .contacts-part2{
    height: 480px;
    padding-left: 26px;
    }
    .map{
            padding-top: 30px;
    }
}

