@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

body{
    font-family: 'Open Sans', sans-serif;
}

.color-blue{
    color: #00b4e7;
}

.color-orange{
    color: #f35d19;
}

.font-size-14{
    font-size: 14px;
}
p{
    margin-bottom: 0;
}

.bg-radius-8{
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
}
input[type="text"]
{font: 15px/24px 'Open Sans', sans-serif;
    color: white;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    background-color: #F35D19;
    width: 100%;
}

:focus{outline: none;}
::placeholder {
  color: white;
  font-size: 12px;
}

.gap-60{
    display: block;
    height: 60px;
}
.gap-40{
    display: block;
    height: 40px;
}
.gap-20{
    display: block;
    height: 20px;
}
.primary-bg{
    background-color: #DB7C26;
}

.primary-color{
    color: #DB7C26;
}

.btn {
    width: 250px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: box-shadow .3s;
    border-radius:4px;
}


.btn-1 {
    /*display: block;*/
    /*margin: 0 auto;*/
    font-weight: 600;
    background-image: linear-gradient(to right, #F57D14 0%, #F25A1A 100%);
}
.btn-1:hover{
     color: white;
     box-shadow: 0 0 20px #F57D14;
}
.btn-2 {
    float: right;
    margin-top: 40px;
    font-weight: 600;
    color: #f35d19;
    background-color: white;
}
.btn-2:hover{
    color: #f35d19;

     box-shadow: 0 0 20px #f5f5ef;
}

.btn-3 {
    padding: 5px !important;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    color: #fff;
   background-image: linear-gradient(to right, #F57D14 0%, #F25A1A 100%);
}
.btn-3:hover{
    color: #fff;
    box-shadow: 0 0 20px #F57D14;
}

.features span{
    line-height: 25px;
    font-size: 30px;
    color: #F57D14;
    font-weight: 700;
}
.features .col-md-3{
    text-align: justify;
}
.features .col-md-1{
    text-align: center;
}
.features a{
    width: 100%;
}
.features h3{
    font-weight: 700;
    font-size: 18px;
}
.features p{

    font-size: 13px;
    min-height: 120px;
}

/*главное меню*/
.navbar ul li a{
    color: #000;
    font-size: 14px;
    transition: all 0.5s;
}

.navbar ul li a:hover{
    color: #f35d19;
}

.dropdown-menu .dropdown-item:hover{
   color: #fff;
}
.dropdown-menu a{
    font-size: 13px !important;
}

.navbar-toggler{
    border: 1px solid #f35d19;
}

.item-active{
    color: #f35d19 !important;
}
.drop-item-active{
    color: #fff !important;
    background-color: #f35d19 !important;
}

.nav-link{
    padding-right: 30px !important;
    color: #000;
    font-size: 15px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item:hover{
    background-color: #F35D19;
}

.dropdown-item{
    font-size: 14px;
}

.dropdown-menu{
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,0.25);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*--------------------главное меню*/

.home-h1{
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}



.form_container{

    background-color: #F35D19;

}
.form_inner_container{

    height: 400px;
}
.form_inner_container p{
    padding: 50px 0 50px 0;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: 700;
}
.form-inline {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 48px;
    justify-items: stretch;
    align-items: stretch;
}


/*мини слайдер*/
.slick-prev
{
left: -70px;
        top: 36%;
}
[dir='rtl'] .slick-prev
{
right: -25px;
left: auto;

}
.slick-prev:before
{
content: "\2039";
font-size: 60px;
}
[dir='rtl'] .slick-prev:before
{
content: "\203A";
}

.slick-next
{
right: -70px;
        top: 36%;
}
[dir='rtl'] .slick-next
{
right: auto;
left: -25px;
}
.slick-next:before
{
content: "\203A";
font-size: 60px;
}
[dir='rtl'] .slick-next:before
{
content: "\2039";
}

.slick-prev:before, .slick-next:before {
color:#f37022 !important;
}

.slick-overlay img {
    opacity: .5;
    transition: all 0.5s;
}

.slick-overlay img:hover {
    opacity: 1;
}
.slick-overlay{
   background-color: #00000070;
   width: 90%;
}


/*-----------------*/

/*футер*/
.list-inline li a{
    color: #000;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.5s;
}
.list-inline li a:hover{
    color: #f37022;
}

.footer_phone{
    margin: 50px 0 50px 0;
    line-height: 5px;
}
.footer_phone p{
    font-size: 30px;
    font-weight: 700;
}
.footer_phone p a{
    text-decoration: none;
    color: #000;
}
.footer_phone span{
    font-size: 13px;
}
.footer_copyright{
    font-size: 13px;
}
.footer-social  i{
    font-size: 30px;
    margin-left: 15px;
    color: #cecece;
    transition: all 0.5s;
}
.footer-social  a{
    text-decoration: none;

}
.footer-social  i:hover{

    color: #f37022;
}
/*---------------------*/


/*модальное окно*/
.callBackModal {
    background: #F35D19;
}
#callBack_done{
    text-align: center;
    padding: 39px;
}

.input-error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*-------------------*/
/* О нас*/
.about-us{
    padding: 40px 40px 0 40px;
}
.team-foto{
   padding: 40px 40px 0 40px;
}

.team-foto img{
    margin-bottom: 40px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.team-foto p{
    font-weight: 700;
}
.team-name-1{
    border-bottom: 1px solid #f35d19;
    width: 182px;
}
.team-name-2{
    border-bottom: 1px solid #f35d19;
    width: 182px;
}
.team-name-3{
    border-bottom: 1px solid #f35d19;
    width: 182px;
}
.team-name-4{
    border-bottom: 1px solid #f35d19;
    width: 182px;
}

.team-foto span{
    font-size: 14px;
    position: relative;
    top: -15px;

}
.team-foto div{
    /*line-height: 0px;*/
    margin-bottom: 40px;

}
.about-us h3 {
    font-weight: 700;
    margin-bottom: 40px;
}
.about-us p {
    margin-bottom: 40px;
}
.about-us ul{
    list-style: decimal;
}
.about-us ul{
    margin-bottom: 40px;
}
.about-head-1{
    border-bottom: 2px solid #f35d19;
    width: 182px;
}
.about-head-2{
    border-bottom: 2px solid #f35d19;
    width: 234px;
}
.about-head-3{
    border-bottom: 2px solid #f35d19;
    width: 130px;
}
.about-head-4{
    border-bottom: 2px solid #f35d19;
    width: 315px;
}
.about-head-5{
    border-bottom: 2px solid #f35d19;
    width: 163px;
}
/*---------------*/
/*contacts*/
.contacts{
    height: 510px;
}
 .contacts-part1{
    background-color: #33B3DF;

    color: #fff;
}

 .contacts-part1 div{
     position: relative;
     left: 420px;

     padding-top: 80px;
 }
.contacts-part1 span{
    font-size: 25px;
    font-weight: 700;

}
.contacts-part1 h3{
    margin-bottom: 10px;
}
.contacts-part1 p{
    padding: 20px 0 10px 0;
}

.contacts-part1 a{
    text-decoration: none;
    color: #ffffff;
}
.contacts-part2{
    background-color: #F35D19;
    color: #fff;
    padding-left: 60px;
}
.contacts-part2 h3{
    padding: 80px 0 10px 0;
}
.contacts-part2 button{
    float: left !important;
}
/*----------contacts*/
/*seo*/
.seo-h1{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.seo-list{
    list-style: none;
}
.seo-feature{
    line-height: 10px;
}
.seo-feature-head{
    color: #F47D13;
}
.seo-feature-number{
    font-size: 40px;
    font-weight: 700;
    color: #F47D13;
}
.seo-feature-info{
    font-size: 11px;
}
.seo-work-plan img{
    display: block;
    margin: 0 auto;
}
.seo-work-plan div{
    padding-top: 15px;
    display: inline-flex;
    line-height: 11px;
}
.seo-work-plan-number{
    font-size: 40px;
    font-weight: 700;
    color: #F47D13;
    float: left;
}
.seo-work-plan-info{
    font-size: 12px;
    text-align: left !important;
    padding-left: 3px;
}
.seo-up{
    background-image: url('../images/seo0.png');
    height: 202px;
}
.seo-up-1{
    position: relative;
    font-size: 12px;
    line-height: 11px;
    width: 125px;
    top: 110px;
    left: 120px;
}
.seo-up-2{
    position: relative;
    font-size: 12px;
    line-height: 11px;
    width: 125px;
    left: 290px;
}
.seo-up-3{
    position: relative;
    font-size: 12px;
    line-height: 11px;
    width: 125px;
    left: 517px;
    top: -48px;
}
.seo-up-4{
    position: relative;
    font-size: 12px;
    line-height: 11px;
    width: 125px;
    left: 727px;
    top: -113px;
}

.seo-team img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.seo-team p{
    font-size: 14px;
}

/*---------------seo*/

/*sites page*/
.sites-main{
    padding: 40px 0 0 40px;
}
.sites-main h1{
     font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}
.sites-main h3{
    font-size: 20px;
    font-weight: 700;
}
.portfolio{
    padding: 40px 40px 0 40px;
}
.portfolio a{
    text-decoration: none;
    border-bottom: 1px solid #f35d19;
    color: #000000;
    font-weight: 700;
    font-size: 15px;

}
.portfolio div{
    margin-bottom: 40px;
}
.portfolio img{
    margin-bottom: 40px;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
/*-----------sites page*/

/*context*/
.context-main{
    padding: 0 40px 0 40px;
}
.center-img{
    position: relative;
    z-index: 1;
    left: 40%;
    margin: -35px 0 -35px 0;
}
.bg-circle{
    margin: 0 auto;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.bg-circle-blue{
    border: 2px solid #00b4e7;
}
.bg-circle-orange{
    border: 2px solid #f35d19;
}
.circles .col-md-3{
    padding: 0 0 0 0;
}

.bg-circle div{
    line-height: 22px;
    margin-top: 20px;
}
.bg-circle img{
    margin-top: 25px;
}
.bg-circle span{
    padding: 10px 0 10px 0;
    display: block;
    font-size: 35px;
    font-weight: 700;
}
/*--------context*/
/*overlay*/
[class^='imghvr-'], [class*=' imghvr-'] {
    position: relative;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    background-color: rgb(10, 10, 10);

    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

[class^='imghvr-'] > img, [class*=' imghvr-'] > img {
    vertical-align: top;
    max-width: 100%;
}

[class^='imghvr-'] figcaption, [class*=' imghvr-'] figcaption {
    background-color: rgba(10, 10, 10, 0.78);
    opacity: 0.5;
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
}

.imghvr-blur:hover{
  -moz-box-shadow: 1px 1px 5px #999;
 -webkit-box-shadow: 1px 1px 5px #999;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 -webkit-transition: all .2s ease;
transition: all .2s ease;
}


[class^='imghvr-'] figcaption h1, [class^='imghvr-'] figcaption h2, [class^='imghvr-'] figcaption h3, [class^='imghvr-'] figcaption h4, [class^='imghvr-'] figcaption h5, [class^='imghvr-'] figcaption h6, [class*=' imghvr-'] figcaption h1, [class*=' imghvr-'] figcaption h2, [class*=' imghvr-'] figcaption h3, [class*=' imghvr-'] figcaption h4, [class*=' imghvr-'] figcaption h5, [class*=' imghvr-'] figcaption h6 {
    color: #ffffff;
}

[class^='imghvr-'] figcaption h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}

[class^='imghvr-'] figcaption p{
    font-size: 14px;
    padding: 20px 0 20px 0;
    text-align: center;
}

/*[class^='imghvr-'] a, [class*=' imghvr-'] a {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*z-index: 1;*/
/*}*/

[class^='imghvr-'], [class*=' imghvr-'], [class^='imghvr-']:before,
[class^='imghvr-']:after, [class*=' imghvr-']:before, [class*=' imghvr-']:after,
[class^='imghvr-'] *, [class*=' imghvr-'] *, [class^='imghvr-'] *:before,
[class^='imghvr-'] *:after, [class*=' imghvr-'] *:before, [class*=' imghvr-'] *:after {
    box-sizing: border-box;
    transition: all .35s ease;
}
.imghvr-blur figcaption {
    opacity: 0;
}

.imghvr-blur:hover > img {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.7;
}

.imghvr-blur:hover figcaption {
    opacity: 1;
    transition-delay: 0.21s;
}
/*--------overlay*/
@media (max-width: 544px) {
    .form_container{
        height: 600px;
    }
    .features p{
        min-height: 0;
    }
    .contacts {
    height: 800px;
    }

    .contacts-part1 div{
     position: relative;
     left: 10px;

     padding-top: 20px;
    }
    .contacts-part2{
    height: 480px;
    padding-left: 26px;
    }
    .map{
            padding-top: 30px;
    }
}

