        body {
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
            color: #6e6e6e;
        }

        body,
        .author-info_name,
        .seofy_module_message_box .message_content .message_title,
        .seofy_module_videobox .title,
        .vc_row .vc_toggle .vc_toggle_title h4,
        .single_team_page .team-info_wrapper .team-info_item span,
        .wpb-js-composer .vc_row .vc_tta.vc_general .vc_tta-panel-title > a span,
        .wpb-js-composer .wgl-container .vc_row .vc_pie_chart .wpb_pie_chart_heading,
        .seofy_module_time_line_vertical .time_line-title {
            font-family: Nunito Sans;
        }

        select,
        ul.wgl-pagination li span,
        .blog-post.format-quote .blog-post_quote-author-pos,
        .seofy_module_testimonials .testimonials_quote,
        .recent-posts-widget .meta-wrapper a:hover,
        .tagcloud a,
        blockquote cite,
        #comments .comment-reply-link:hover,
        body input::placeholder,
        body textarea::placeholder,
        .share_post-container:hover > a,
        .vc_row .vc_toggle .vc_toggle_icon {
            color: #6e6e6e;
        }

        .seofy_module_carousel .slick-prev:after,
        .seofy_module_carousel .slick-next:after {
            border-color: #6e6e6e;
        }

        .seofy_module_title .external_link .button-read-more {
            line-height: 30px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        h1 span,
        h2 span,
        h3 span,
        h4 span,
        h5 span,
        h6 span,
        h1 a,
        h2 a,
        h3 a,
        h4 a,
        h5 a,
        h6 a,
        .page-header .page-header_title,
        .button-read-more,
        .blog-post_cats,
        .cats_post,
        .column1 .item_title a,
        .seofy_twitter .twitt_title,
        .tagcloud-wrapper .title_tags,
        .strip_template .strip-item a span,
        .single_team_page .team-single_speaches-info .speech-info_desc span,
        .shortcode_tab_item_title,
        .index_number,
        .primary-nav.footer-menu .menu-item a {
            font-family: Nunito Sans;
            font-weight: 800;
        }

        #main ol > li:before,
        blockquote,
        body .widget_rss ul li .rss-date,
        body .widget .widget-title,
        label,
        legend,
        .author-info_content .author-info_name,
        .blog-post.format-quote .blog-post_quote-author,
        .blog-post_link>.link_post,
        .blog-post_quote-text,
        .blog-post_views-wrap .counts,
        .blog-post_meta-date .date_post span,
        .countdown-section .countdown-amount,
        .custom-header-font,
        .comments-title .number-comments,
        .dropcap,
        .seofy_module_counter .counter_value_wrap,
        .seofy_module_counter .counter_value_hide,
        .seofy_module_double_headings,
        .seofy_module_infobox .infobox_icon_container .infobox_icon_number,
        .seofy_module_pricing_plan .pricing_price_wrap,
        .isotope-filter a .number_filter,
        .mashsb-count .counts,
        .mashsb-box .mashsb-buttons a .text,
        .prev-link,
        .next-link,
        .vc_row .vc_tta.vc_general.vc_tta-style-accordion_bordered .vc_tta-panel-title>a span,
        .wgl_timetabs .timetabs_headings .wgl_tab .tab_title,
        .widget.seofy_widget.seofy_banner-widget .banner-widget_text,
        .widget.seofy_widget.seofy_banner-widget .banner-widget_text_bg,
        .blog-post_meta-categories a,
        .blog-post_meta-categories span,
        .blog-post_meta-date .date_post,
        .seofy_module_counter .counter_title,
        .seofy_module_progress_bar .progress_label,
        .seofy_module_progress_bar .progress_value,
        .seofy_module_progress_bar .progress_units,
        .isotope-filter a,
        .heading_subtitle,
        .info_prev-link_wrapper a,
        .info_next-link_wrapper a,
        .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title,
        .page-header_breadcrumbs .breadcrumbs,
        .single_meta .single_info-share_social-wpapper > span.share_title,
        .single_team_page .team-single_speaches-info .speech-info_day,
        .single_team_page .team-info_wrapper .team-info_item,
        .wgl_portfolio_item-meta .post_cats,
        .single_team_page .team-info_wrapper .team-info_item,
        .portfolio_info_item-info_desc h5,
        .single_info-share_social-wpapper > span {
            font-family: Nunito Sans;
        }

        .banner_404,
        .wgl_portfolio_single-item .tagcloud .tagcloud_desc,
        .wgl_timetabs .timetabs_data .timetabs_item .item_time,
        .wgl_timetabs .timetabs_data .timetabs_item .content-wrapper .item_title,
        .wpb-js-composer .wgl-container .vc_row .vc_pie_chart .vc_pie_chart_value {
            font-family: Nunito Sans;
            color: #252525;
        }

        #comments .comment-reply-link,
        ul.wgl-pagination li a,
        body .footer select option,
        body .widget .widget-title,
        blockquote,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        h1 span,
        h2 span,
        h3 span,
        h4 span,
        h5 span,
        h6 span,
        h1 a,
        h2 a,
        h3 a,
        h4 a,
        h5 a,
        h6 a,
        h3#reply-title a,
        ul.wgl-pagination li span.current,
        ul.wgl-pagination li a:hover,
        .seofy_module_carousel .slick-prev:after,
        .seofy_module_carousel .slick-next:after,
        .prev-link-info_wrapper,
        .next-link-info_wrapper,
        .author-info_wrapper .title_soc_share,
        .author-widget_title,
        .blog-post_quote-author,
        .header_search.search_standard .header_search-field .search-form:after,
        .calendar_wrap tbody,
        .comment_author_says,
        .comment_author_says a,
        .single_meta .blog-post_share-wrap > span.share_title,
        .seofy_module_counter .counter_title,
        .single_meta .single_info-share_social-wpapper > span.share_title,
        .seofy_module_double_headings .heading_title,
        .seofy_module_testimonials .testimonials_item .testimonials_content_wrap .testimonials_name,
        .seofy_module_progress_bar .progress_label,
        .seofy_module_progress_bar .progress_value,
        .seofy_module_progress_bar .progress_units,
        .seofy_module_pricing_plan .pricing_plan_wrap .pricing_content > ul > li > b,
        .seofy_module_pricing_plan .pricing_plan_wrap .pricing_price_wrap,
        .tagcloud-wrapper .title_tags,
        .item_title a,
        .single_info-share_social-wpapper > span,
        .wgl_module_title.item_title .carousel_arrows a span:after,
        .wgl_module_team.info_under_image .team-department,
        .widget_search .search-form:after,
        .widget.widget_archive ul li:before,
        .widget.widget_recent_entries ul li:before,
        .widget.widget_meta ul li:before,
        .widget.widget_categories ul li:before,
        .widget.widget_wgl_posts .recent-posts-widget .post_title a,
        .widget.widget_archive ul li,
        .widget.widget_pages ul li,
        .widget.widget_meta ul li,
        .widget.widget_recent_comments ul li,
        .widget.widget_recent_entries ul li,
        .widget.widget_nav_menu ul li,
        .widget.widget_categories ul li,
        .wpb-js-composer .vc_row .vc_general.vc_tta-tabs .vc_tta-tabs-list .vc_tta-tab > a,
        .wpb-js-composer .wgl-container .vc_chart.vc_round-chart[data-vc-legend="1"] .vc_chart-legend li,
        .wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title,
        .wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a .vc_tta-controls-icon,
        .wpb-js-composer .wgl-container .vc_row .vc_toggle.vc_toggle_active .vc_toggle_title .vc_toggle_icon,
        .wgl_timetabs .timetabs_headings .wgl_tab.active .tab_title,
        .wgl_timetabs .timetabs_headings .wgl_tab:hover .tab_title,
        .isotope-filter.filter_def a .number_filter,
        .inside_image .wgl_portfolio_item-title .title,
        .isotope-filter a:not(.active):not(:hover) {
            color: #252525;
        }

        input::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder,
        input:-moz-placeholder,
        textarea:-moz-placeholder,
        input::-moz-placeholder,
        textarea::-moz-placeholder,
        input:-ms-input-placeholder,
        textarea:-ms-input-placeholder {
            color: #252525;
        }

        .seofy_module_title .carousel_arrows a span {
            background: #252525;
        }

        .seofy_module_infobox.infobox_alignment_left.title_divider .infobox_title:before,
        .seofy_module_infobox.infobox_alignment_right.title_divider .infobox_title:before {
            background-color: #252525;
        }

        .blog-post_cats span a:hover,
        .cats_post span a:hover,
        .cats_post a:hover {
            background-color: #252525 !important;
        }

        .seofy_module_title .carousel_arrows a span:before {
            border-color: #252525;
        }

        .wgl-theme-header .wgl-sticky-header .header_search {
            height: 100px !important;
        }

        #scroll_up {
            background-color: #c10e0e;
            color: #ffffff;
        }

        .wgl-sticky-header .wgl-header-row .primary-nav .lavalamp-object {
            background-color: #404040;
        }

        .primary-nav>div>ul,
        .primary-nav>ul,
        .primary-nav ul li.mega-menu-links > ul > li {
            font-family: Nunito Sans;
            font-weight: 700;
            line-height: 30px;
            font-size: 16px;
        }

        .primary-nav ul li ul,
        .wpml-ls,
        .primary-nav ul li div.mega-menu-container {
            font-family: Nunito Sans;
            font-weight: 600;
            line-height: 30px;
            font-size: 16px;
        }

        .wgl-theme-header .header_search-field,
        .primary-nav ul li ul,
        .primary-nav ul li div.mega-menu-container,
        .wgl-theme-header .woo_mini_cart,
        .wpml-ls-legacy-dropdown .wpml-ls-current-language .wpml-ls-sub-menu {
            background-color: rgba(255, 255, 255, 1);
            color: #232323;
        }

        .wgl-header-row-section_top .primary-nav .lavalamp-object {
            background-color: rgba(143, 143, 143, 1);
        }

        .wgl-header-row-section_middle .primary-nav .lavalamp-object {
            background-color: rgba(37, 37, 37, 1);
        }

        .wgl-header-row-section_bottom .primary-nav .lavalamp-object {
            background-color: rgba(254, 254, 254, 0.5);
        }

        .mobile_nav_wrapper,
        .wgl-menu_outer,
        .mobile_nav_wrapper .primary-nav ul li ul.sub-menu,
        .mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul > li ul,
        .mobile_nav_wrapper .primary-nav ul li.mega-menu-links > ul.mega-menu > li > ul {
            background-color: rgba(34, 35, 40, 1);
            color: #ffffff;
        }

        button,
        a:hover .wgl-icon,
        button:focus,
        button:active,
        h3#reply-title a:hover,
        input[type='submit']:focus,
        input[type='submit']:active,
        input[type="submit"]:hover,
        .author-info_social-wrapper,
        .button-read-more,
        .button-read-more:hover,
        .blog-post_title i,
        .blog-post_link>.link_post:hover,
        .blog-post.format-standard.link .blog-post_title:before,
        .blog-post_cats span,
        .blog-post_title a:hover,
        .blog-posts .meta-wrapper a:hover,
        .share_link span.fa:hover,
        .share_post span.fa:hover,
        .calendar_wrap thead,
        .copyright a:hover,
        .comment_author_says a:hover,
        .dropcap,
        .meta-wrapper > span.author_post a,
        .blog-post_wrapper .share_post-container:hover > a,
        .seofy_submit_wrapper:hover > i,
        .seofy_custom_button i,
        .seofy_custom_text a,
        .seofy_module_button a:hover,
        .seofy_module_carousel .slick-prev:hover:after,
        .seofy_module_carousel .slick-next:hover:after,
        .seofy_module_counter .counter_icon,
        .seofy_module_counter .counter_value_wrap,
        .seofy_module_counter .counter_value_wrap .counter_value_suffix,
        .seofy_module_demo_item .di_title-wrap .di_subtitle,
        .seofy_module_demo_item .di_title_wrap a:hover .di_title,
        .seofy_module_double_headings .heading_subtitle,
        .seofy_module_social .soc_icon:hover,
        .seofy_module_testimonials .testimonials_quote:before,
        .seofy_module_infobox .infobox_icon,
        .seofy_twitter a,
        .header_search .header_search-button > i:hover,
        .header_search-field .search-form:after,
        .next-link_wrapper .image_next.no_image:before,
        .next-link_wrapper .image_next:after,
        .prev-link_wrapper .image_prev:after,
        .prev-link_wrapper .image_prev.no_image:before,
        .single_team_page .team-info_wrapper .team-department span,
        .single_team_page .team-single_speaches-info .speech-info_desc span,
        .header_search .header_search-button > i:hover,
        .load_more_item:hover,
        .load_more_works:hover,
        .mc_form_inside #mc_signup_submit:hover,
        .meta-wrapper a:hover,
        .primary-nav ul li ul .menu-item.current-menu-item > a,
        .primary-nav ul ul li.menu-item.current-menu-ancestor > a,
        .primary-nav ul ul li.menu-item.current-menu-item > a,
        .primary-nav ul li ul .menu-item:hover > a,
        .primary-nav ul li ul .menu-item.back:hover > a,
        .primary-nav ul li ul .menu-item.back:hover:before,
        .vc_wp_custommenu .menu .menu-item.current-menu-item > a,
        .single_team_page .team-info_wrapper .team-info_item a:hover,
        .single-member-page .member-icon:hover,
        .single-member-page .team-link:hover,
        .single_team_page .team-single_speaches-info .speech-info_day,
        .team-icons .member-icon:hover,
        .under_image .wgl_portfolio_item-meta .post_cats,
        .vc_wp_custommenu .menu .menu-item.current-menu-ancestor > a,
        .wgl_timetabs .timetabs_headings .wgl_tab.active .tab_subtitle,
        .wgl_timetabs .timetabs_headings .wgl_tab:hover .tab_subtitle,
        .wgl_portfolio_category-wrapper a:hover,
        .wgl-theme-header .wrapper .seofy_module_button a:hover,
        .wgl_module_team .team-item_info .team-item_titles .team-title:hover,
        .wgl-icon:hover,
        .wgl-theme-color,
        .wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title:hover,
        .wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title.vc_tta-controls-icon-position-right .vc_tta-controls-icon,
        .wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-accordion .vc_tta-panels-container .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title > a span,
        .wpb-js-composer .wgl-container .vc_row .vc_toggle .vc_toggle_title:hover,
        .wpb-js-composer .wgl-container .vc_row .vc_toggle .vc_toggle_title:hover h4,
        .wpb-js-composer .wgl-container .vc_row .vc_toggle .vc_toggle_title .vc_toggle_icon,
        .wpb-js-composer .wgl-container .vc_row .vc_toggle.vc_toggle_active .vc_toggle_title h4,
        .wpb-js-composer .vc_row .vc_tta.vc_general .vc_active .vc_tta-panel-title > a:before,
        .wpml-ls a:hover,
        .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover > a,
        .wpml-ls-legacy-dropdown .wpml-ls-current-language a:hover,
        .header_search .header_search-button > i:hover,
        .meta-wrapper span:after,
        .meta-wrapper > span:before,
        .wgl_portfolio_item-meta .post_cats a:hover,
        .under_image .wgl_portfolio_item-title .title:hover,
        .seofy_module_services_3 .services_icon_wrapper .services_icon,
        .seofy_module_circuit_services .services_subtitle,
        .seofy_module_services_4 .services_icon,
        .seofy_module_services_4:hover .services_number {
            color: #ff7d00;
        }

        .hover_links a:hover,
        header .header-link:hover {
            color: #ff7d00 !important;
        }

        body .widget_nav_menu .current-menu-ancestor > a,
        body .widget_nav_menu .current-menu-item > a,
        body .widget_recent_entriesul li .post-date,
        body .widget_rss ul li .rss-date,
        .seofy_banner-widget .banner-widget_button:hover,
        .recent-posts-widget .meta-wrapper a,
        .widget.widget_archive ul li a:hover,
        .widget.widget_archive ul li a:hover,
        .widget.widget_categories ul li a:hover,
        .widget.widget_categories ul li a:hover,
        .widget.widget_recent_comments ul li a,
        .widget.widget_recent_comments ul li a,
        .widget.widget_recent_entries ul li:before,
        .widget.widget_recent_entries ul li:before,
        .widget.widget_pages ul li a:hover,
        .widget.widget_pages ul li a:hover,
        .widget.widget_meta ul li a:hover,
        .widget.widget_meta ul li a:hover,
        .widget.seofy_widget.seofy_banner-widget .banner-widget_button:hover,
        .widget.seofy_widget.seofy_banner-widget .banner-widget_button:hover,
        .widget.widget_recent_comments ul li a:hover,
        .widget.widget_recent_comments ul li a:hover,
        .widget.widget_recent_entries ul li a:hover,
        .widget.widget_recent_entries ul li a:hover,
        .widget.widget_nav_menu ul li a:hover,
        .widget.widget_nav_menu ul li a:hover,
        .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover,
        .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover,
        .recent-posts-widget .meta-wrapper a {
            color: #ff7d00;
        }

        .primary-nav ul li ul li:hover > a > span:before,
        .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a span:before,
        .primary-nav ul li ul li > a > span:before,
        .single_team_page .team-title:before,
        .isotope-filter a.active,
        .isotope-filter a:hover,
        .wgl-container ul.seofy_plus li:after,
        .wgl-container ul.seofy_plus li:before,
        .wgl-container ul.seofy_dash li:before,
        .seofy_module_double_headings .heading_title .heading_divider,
        .seofy_module_double_headings .heading_title .heading_divider:before,
        .seofy_module_double_headings .heading_title .heading_divider:after {
            background: #ff7d00;
        }

        ::selection,
        #comments .comment-reply-link:hover,
        #comments > h3:after,
        #sb_instagram .sbi_photo:before,
        #main ul.seofy_plus li:before,
        aside > .widget + .widget:before,
        button:hover,
        body .widget .widget-title .widget-title_dots,
        body .widget .widget-title .widget-title_dots:before,
        body .widget .widget-title .widget-title_dots:after,
        input[type="submit"],
        mark,
        span.highlighter,
        .button-read-more:after,
        .blog-post_cats span a,
        .calendar_wrap caption,
        .comment-reply-title:after,
        .seofy_divider .seofy_divider_line .seofy_divider_custom .divider_line,
        .seofy_module_cats .cats_item-count,
        .seofy_module_double_headings .heading_subtitle:after,
        .seofy_module_double_headings .heading_subtitle:before,
        .seofy_module_progress_bar .progress_bar,
        .seofy_module_progress_bar .progress_label_wrap:before,
        .seofy_module_infobox.type_tile:hover:before,
        .seofy_module_social.with_bg .soc_icon,
        .seofy_module_pricing_plan .pricing_plan_wrap.highlighted .pricing_header,
        .seofy_module_title:after,
        .seofy_module_title .carousel_arrows a:hover span,
        .seofy_module_videobox .videobox_link,
        .load_more_works,
        .mc_form_inside #mc_signup_submit,
        .vc_wp_custommenu .menu .menu-item a:before,
        .primary-nav > ul > li > a > span:after,
        .primary-nav ul li ul li > a span:before,
        .primary-nav ul li ul li > a:before,
        .primary-nav > ul:not(.lavalamp) > li.current-menu-item > a > span:after,
        .primary-nav > ul:not(.lavalamp) > li.current-menu-ancestor > a> span:after,
        .primary-nav ul li.mega-menu.mega-cat div.mega-menu-container ul.mega-menu.cats-horizontal > li.is-active > a,
        .primary-nav ul li.mega-menu-links > ul > li > a:before,
        .primary-nav ul li.menu-item.current-menu-ancestor > a > span:after,
        .primary-nav ul li.menu-item.current-menu-item > a > span:after,
        .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:before,
        .wgl_module_title.item_title .carousel_arrows a:hover,
        .wgl_timetabs .timetabs_headings .wgl_tab.active:after,
        .seofy_banner-widget .banner-widget_button,
        .widget .calendar_wrap table td#today:before,
        .widget .calendar_wrap table td#today:before,
        .widget .calendar_wrap tbody td > a:before,
        .widget .counter_posts,
        .widget.widget_pages ul li a:before,
        .widget.widget_nav_menu ul li a:before,
        .widget_nav_menu .menu .menu-item:before,
        .widget_postshero .recent-posts-widget .post_cat a,
        .widget_categories ul li > a:before,
        .widget_meta ul li > a:before,
        .widget_archive ul li > a:before,
        .tagcloud a:hover {
            background-color: #ff7d00;
        }

        .seofy_module_button a {
            border-color: #ff7d00;
            background: #ff7d00;
        }

        .blog-post_meta-date,
        .blog-post_cats span a,
        .seofy_404_button.seofy_module_button a,
        .seofy_module_carousel.navigation_offset_element .slick-prev:hover,
        .seofy_module_carousel.navigation_offset_element .slick-next:hover,
        .cats_post a,
        .load_more_item,
        .next-link:hover,
        .prev-link:hover {
            border-color: #ff7d00;
            background: #ff7d00;
        }

        #comments .comment-reply-link,
        .banner-widget_button,
        .seofy_module_button a:hover,
        .seofy_module_carousel.pagination_circle_border .slick-dots li button,
        .seofy_module_cats .seofy_module_carousel .slick-next:hover,
        .seofy_module_cats .seofy_module_carousel .slick-prev:hover,
        .seofy_module_title .carousel_arrows a:hover span:before,
        .load_more_item:hover,
        .load_more_works {
            border-color: #ff7d00;
        }

        .single_team_page .team-info_wrapper .team-info_svg svg,
        .single_team_page .team-single_wrapper:hover .team-info_wrapper .team-info_svg svg,
        .wgl_module_team.horiz_type .team-item_content:hover .team-info_svg svg {
            fill: #ff7d00;
        }

        .wgl-theme-header .header_search .header_search-field:after {
            border-bottom-color: rgba(255, 125, 0, 0.9);
        }

        .theme_color_shadow {
            box-shadow: 0px 11px 38px 0px rgba(255, 125, 0, 0.45);
        }

        a,
        blockquote:before,
        .dropcap,
        #main ul li:before,
        body ol > li:before,
        .blog-post_link:before,
        .blog-post_meta-categories span,
        .blog-post_quote-text:before,
        .wgl_portfolio_item-meta a,
        .wgl_portfolio_item-meta span,
        .seofy_module_demo_item .di_label {
            color: #3224e9;
        }

        #main ul li:before,
        .meta-wrapper span:after,
        .prev-link_wrapper .image_prev .no_image_post,
        .next-link_wrapper .image_next .no_image_post,
        .next-link_wrapper .image_next:after,
        .prev-link_wrapper .image_prev:after,
        .wgl-pagination .page .current,
        .wgl-pagination .page a:hover,
        .page-header_breadcrumbs .divider,
        .slick-dots li button {
            background: #3224e9;
        }

        body .widget_categories ul li .post_count,
        body .widget_product_categories ul li .post_count,
        body .widget_meta ul li .post_count,
        body .widget_archive ul li .post_count {
            background: #3224e9;
        }

        .blog-post_meta-categories a {
            background: #3224e9;
            border-color: #3224e9;
        }

        .footer_top-area .widget.widget_archive ul li > a:hover,
        .footer_top-area .widget.widget_archive ul li > a:hover,
        .footer_top-area .widget.widget_categories ul li > a:hover,
        .footer_top-area .widget.widget_categories ul li > a:hover,
        .footer_top-area .widget.widget_pages ul li > a:hover,
        .footer_top-area .widget.widget_pages ul li > a:hover,
        .footer_top-area .widget.widget_meta ul li > a:hover,
        .footer_top-area .widget.widget_meta ul li > a:hover,
        .footer_top-area .widget.widget_recent_comments ul li > a:hover,
        .footer_top-area .widget.widget_recent_comments ul li > a:hover,
        .footer_top-area .widget.widget_recent_entries ul li > a:hover,
        .footer_top-area .widget.widget_recent_entries ul li > a:hover,
        .footer_top-area .widget.widget_nav_menu ul li > a:hover,
        .footer_top-area .widget.widget_nav_menu ul li > a:hover,
        .footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover,
        .footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a:hover {
            color: #ff7d00;
        }

        .footer ul li:before,
        .footer ul li:before,
        .footer_top-area a:hover,
        .footer_top-area a:hover {
            color: #ff7d00;
        }

        .footer_top-area .widget-title,
        .footer_top-area .widget-title .rsswidget,
        .footer_top-area .widget.widget_pages ul li a,
        .footer_top-area .widget.widget_nav_menu ul li a,
        .footer_top-area .widget.widget_wgl_posts .recent-posts-widget li > .recent-posts-content .post_title a,
        .footer_top-area .widget.widget_archive ul li > a,
        .footer_top-area .widget.widget_categories ul li > a,
        .footer_top-area .widget.widget_pages ul li > a,
        .footer_top-area .widget.widget_meta ul li > a,
        .footer_top-area .widget.widget_recent_comments ul li > a,
        .footer_top-area .widget.widget_recent_entries ul li > a,
        .footer_top-area .widget.widget_archive ul li:before,
        .footer_top-area .widget.widget_meta ul li:before,
        .footer_top-area .widget.widget_categories ul li:before,
        .footer_top-area strong,
        .footer_top-area h1,
        .footer_top-area h2,
        .footer_top-area h3,
        .footer_top-area h4,
        .footer_top-area h5,
        .footer_top-area h6 {
            color: #ffffff;
        }

        .footer_top-area {
            color: #ffffff;
        }

        .footer_top-area .widget.widget_archive ul li:after,
        .footer_top-area .widget.widget_pages ul li:after,
        .footer_top-area .widget.widget_meta ul li:after,
        .footer_top-area .widget.widget_recent_comments ul li:after,
        .footer_top-area .widget.widget_recent_entries ul li:after,
        .footer_top-area .widget.widget_nav_menu ul li:after,
        .footer_top-area .widget.widget_categories ul li:after {
            background-color: #ffffff;
        }

        .footer .copyright {
            color: #888888;
        }

        .woocommerce div.product form.cart div.quantity label.label-qty {
            font-family: Nunito Sans;
        }

        .woocommerce .woocommerce-result-count,
        .woocommerce-page .woocommerce-result-count,
        .woocommerce .woocommerce-ordering select,
        .woocommerce .summary .product_meta > span span,
        .woocommerce table.shop_table td.product-name .product-quantity,
        .woocommerce table.shop_table td.product-total .woocommerce-Price-amount.amount,
        .woocommerce .summary .product_meta > span a,
        .woocommerce nav.woocommerce-pagination ul li a,
        .woocommerce div.product form.cart div.quantity .qty,
        .woocommerce-error,
        .woocommerce-info,
        .woocommerce-message {
            color: #6e6e6e;
        }

        .woocommerce div.product form.cart div.quantity .quantity-wrapper .qty,
        .woocommerce .cart-collaterals .cart_totals table th {
            font-family: Nunito Sans;
        }

        #add_payment_method .cart-collaterals .cart_totals .woocommerce-shipping-destination,
        .woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination,
        .woocommerce-checkout .cart-collaterals .cart_totals .woocommerce-shipping-destination,
        .woocommerce label,
        .woocommerce strong,
        .product-categories .cat-item a,
        .product-categories a,
        .widget_product_search .woocommerce-product-search:before,
        .woocommerce .widget_shopping_cart .total strong,
        .woocommerce.widget_shopping_cart .total strong,
        .woocommerce div.product .woocommerce-tabs .panel #respond #commentform label,
        .woocommerce .widget_price_filter .price_slider_amount,
        .woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th,
        .woocommerce .cart-collaterals .cart_totals table th,
        .woocommerce-page .cart-collaterals .cart_totals table th,
        .woocommerce div.product form.cart div.quantity .quantity-wrapper .qty::placeholder,
        .woocommerce .summary .product_meta > span,
        .woocommerce div.product .woocommerce-tabs ul.tabs li,
        .woocommerce div.product form.cart button.button.alt:hover,
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
        .woocommerce ul.cart_list li a,
        .woocommerce table.shop_table td.product-name,
        .woocommerce ul.product_list_widget li a,
        .woocommerce-tabs .comment-reply-title,
        .woocommerce form .form-row label,
        .woocommerce table.shop_table tfoot tr th,
        .woocommerce ul#shipping_method li label,
        .woocommerce div.product .woocommerce-tabs ul.tabs li a,
        .woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #252525;
        }

        .woocommerce #respond input#submit.disabled,
        .woocommerce #respond input#submit:disabled,
        .woocommerce #respond input#submit:disabled[disabled],
        .woocommerce a.button.disabled,
        .woocommerce a.button:disabled,
        .woocommerce a.button:disabled[disabled],
        .woocommerce button.button.disabled,
        .woocommerce button.button:disabled,
        .woocommerce button.button:disabled[disabled],
        .woocommerce input.button.disabled,
        .woocommerce input.button:disabled,
        .woocommerce input.button:disabled[disabled] {
            color: #252525 !important;
        }

        ul.wgl-products .price,
        .woocommerce .products ul.wgl-products .price,
        .product_list_widget .product-title,
        .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total,
        .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a,
        .product-categories .cat-item .post_count,
        .product_list_widget .woocommerce-Price-amount,
        .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total .woocommerce-Price-amount,
        .wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a,
        .woocommerce div.product p.price,
        .woocommerce table.shop_table .woocommerce-Price-amount.amount,
        .woocommerce .widget_shopping_cart .total .woocommerce-Price-amount,
        .woocommerce ul.cart_list li a,
        .woocommerce ul.product_list_widget li a,
        .woocommerce.widget_shopping_cart .total .woocommerce-Price-amount,
        .woocommerce .products ul.wgl-products .price,
        .woocommerce-page .cart-collaterals .cart_totals table th,
        ul.wgl-products .woocommerce-loop-product__title,
        .woocommerce .product_meta > span,
        .woocommerce div.product form.cart .group_table tr td label,
        .woocommerce div.product span.price,
        .woocommerce table.shop_table thead th,
        .checkout.woocommerce-checkout #ship-to-different-address,
        .checkout.woocommerce-checkout #ship-to-different-address span,
        .woocommerce div.product .woocommerce-tabs .panel table.shop_attributes th,
        .woocommerce .products ul.wgl-products .woocommerce-loop-product__title {
            font-family: Nunito Sans;
        }

        .woocommerce .widget_price_filter .price_slider_amount .button:hover {
            color: #ff7d00 !important;
        }

        ul.wgl-products .price,
        ul.wgl-products .woocommerce-loop-product__title a:hover,
        .product_list_widget .woocommerce-Price-amount,
        .product_list_widget .product-title:hover,
        .product_list_widget li:hover .product-title,
        .product-categories a:hover,
        .product-categories .current-cat a,
        .product_meta > span a:hover,
        .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.button.wc-forward:not(.checkout):hover,
        .wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a:hover,
        .woocommerce #respond input#submit:hover,
        .woocommerce div.product form.cart .button:hover:before,
        .woocommerce div.product form.cart .reset_variations:before,
        .woocommerce div.product p.price,
        .woocommerce div.product span.price,
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active,
        .woocommerce form .form-row .required,
        .woocommerce table.shop_table .woocommerce-Price-amount.amount,
        .woocommerce table.shop_table .order-total .woocommerce-Price-amount.amount,
        .woocommerce table.shop_table td.product-name a:hover,
        .woocommerce table.shop_table.cart input.button:hover,
        .woocommerce p.stars a,
        .woocommerce ul.cart_list li a:hover,
        .woocommerce ul.product_list_widget li a:hover,
        .woocommerce .products ul.wgl-products .woocommerce-loop-product__title a:hover,
        .woocommerce .summary .product_meta > span a:hover,
        .woocommerce .widget_price_filter .price_slider_amount .button:hover,
        .woocommerce .widget_shopping_cart .buttons a:hover,
        .woocommerce .widget_shopping_cart .total,
        .woocommerce.widget_shopping_cart .buttons a:hover,
        .woocommerce.widget_shopping_cart .total,
        .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
        .woocommerce-review-link:hover {
            color: #ff7d00;
        }

        .woocommerce .cart .button:hover,
        .woocommerce .cart button.button:hover,
        .woocommerce .cart input.button:hover,
        .product_list_widget .woocommerce-Price-amount,
        .product_list_widget .product-title:hover,
        .product_list_widget li:hover .product-title,
        .product-categories a:hover,
        .product-categories .current-cat a,
        .product_meta > span a:hover,
        .wgl-theme-header .mini-cart .woocommerce-mini-cart.cart_list.product_list_widget li a:hover,
        .woocommerce div.product form.cart .reset_variations:before,
        .woocommerce div.product p.price,
        .woocommerce div.product span.price,
        .woocommerce form .form-row .required,
        .woocommerce table.shop_table .woocommerce-Price-amount.amount,
        .woocommerce table.shop_table .order-total .woocommerce-Price-amount.amount,
        .woocommerce table.shop_table td.product-name a:hover,
        .woocommerce table.shop_table.cart input.button:hover,
        .woocommerce p.stars a,
        .woocommerce ul.cart_list li a:hover,
        .woocommerce ul.product_list_widget li a:hover,
        .woocommerce #respond input#submit:hover,
        .woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
        .woocommerce-review-link:hover,
        .woocommerce .widget_price_filter .price_slider_amount .button:hover,
        .woocommerce .summary .product_meta > span a:hover,
        .woocommerce #payment #place_order:hover,
        .woocommerce-page #payment #place_order:hover,
        .woocommerce .cart .button:hover,
        .woocommerce .cart input.button:hover,
        .woocommerce-message a.button:hover {
            color: #ff7d00;
        }

        .product-categories .cat-item a:before,
        .woocommerce #respond input#submit.disabled:hover,
        .woocommerce #respond input#submit:disabled:hover,
        .woocommerce #respond input#submit:disabled[disabled]:hover,
        .woocommerce a.button:hover,
        .woocommerce a.button.disabled:hover,
        .woocommerce a.button:disabled:hover,
        .woocommerce a.button:disabled[disabled]:hover,
        .woocommerce button.button:disabled:hover,
        .woocommerce button.button:disabled[disabled]:hover,
        .woocommerce button.button:hover,
        .woocommerce button.button.disabled:hover,
        .woocommerce input.button:hover,
        .woocommerce input.button:disabled:hover,
        .woocommerce input.button:disabled[disabled]:hover,
        .woocommerce input.button.disabled:hover,
        .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
        .woocommerce .widget_price_filter .price_slider_amount .button,
        .woo_product_image .picture:hover a.add_to_cart_button:hover,
        .woo_product_image .picture:hover a.button:hover,
        .woo_product_image .added_to_cart.wc-forward:hover {
            background-color: #ff7d00;
        }

        ul.wgl-products li a.add_to_cart_button,
        ul.wgl-products li a.button,
        ul.wgl-products li .added_to_cart.wc-forward,
        .woocommerce #respond input#submit.alt,
        .woocommerce #respond input#submit,
        .woocommerce #payment #place_order,
        .woocommerce a.button.alt,
        .woocommerce a.button,
        .woocommerce button.button,
        .woocommerce button.button.alt:hover,
        .woocommerce div.product form.cart .button:before,
        .woocommerce div.product form.cart .button,
        .woocommerce input.button,
        .woocommerce input.button.alt,
        .woocommerce .cart input.button,
        .woocommerce .cart .button,
        .woocommerce .widget_shopping_cart .buttons a,
        .woocommerce-message a.button,
        .woocommerce-page #payment #place_order,
        .woocommerce.widget_shopping_cart .buttons a,
        .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.button.wc-forward:not(.checkout) {
            border-color: #ff7d00;
            background: #ff7d00;
        }

        #add_payment_method .wc-proceed-to-checkout a.checkout-button,
        .single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover,
        .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout:hover,
        .woocommerce table.shop_table.cart input.button,
        .woocommerce .widget_price_filter .price_slider_amount .button,
        .woocommerce #respond input#submit {
            border-color: #ff7d00;
            background: #ff7d00;
        }

        .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout,
        .woocommerce #respond input#submit:disabled,
        .woocommerce #respond input#submit:disabled[disabled],
        .woocommerce #respond input#submit.disabled,
        .woocommerce a.button:disabled,
        .woocommerce a.button:disabled[disabled],
        .woocommerce a.button.disabled,
        .woocommerce button.button.alt,
        .woocommerce button.button:disabled,
        .woocommerce button.button:disabled[disabled],
        .woocommerce button.button.disabled,
        .woocommerce input.button:disabled,
        .woocommerce input.button:disabled[disabled],
        .woocommerce input.button.disabled {
            border-color: #ff7d00;
        }

        .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__total span,
        .woocommerce .widget_shopping_cart .total .woocommerce-Price-amount,
        .woocommerce.widget_shopping_cart .total .woocommerce-Price-amount {
            color: #3224e9;
        }

        .woocommerce table.shop_table thead,
        .woocommerce .widget_shopping_cart .buttons a.checkout,
        .woocommerce.widget_shopping_cart .buttons a.checkout,
        .woocommerce nav.woocommerce-pagination ul li a:hover,
        .woocommerce nav.woocommerce-pagination ul li a:focus,
        .woocommerce nav.woocommerce-pagination ul li a.current,
        .woocommerce nav.woocommerce-pagination ul li span.current {
            background: #3224e9;
            border-color: #3224e9;
        }

        .woocommerce form .form-row .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: #252525 transparent transparent transparent;
        }

        body {
            background: #ffffff;
        }

        ol.commentlist:after {
            background: #ffffff;
        }

        h1,
        h1 a,
        h1 span {
            font-family: Nunito Sans;
            font-weight: 800;
            font-size: 42px;
            line-height: 36px;
        }

        h2,
        h2 a,
        h2 span {
            font-family: Nunito Sans;
            font-weight: 800;
            font-size: 36px;
            line-height: 36px;
        }

        h3,
        h3 a,
        h3 span {
            font-family: Nunito Sans;
            font-weight: 800;
            font-size: 30px;
            line-height: 36px;
        }

        h4,
        h4 a,
        h4 span {
            font-family: Nunito Sans;
            font-weight: 800;
            font-size: 24px;
            line-height: 36px;
        }

        h5,
        h5 a,
        h5 span {
            font-family: Nunito Sans;
            font-weight: 700;
            font-size: 20px;
            line-height: 36px;
        }

        h6,
        h6 a,
        h6 span {
            font-family: Nunito Sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
        }

        @media only screen and (max-width: 1200px) {
            .wgl-theme-header {
                background-color: rgba(34, 35, 40, 1) !important;
                color: #ffffff !important;
            }
            .hamburger-inner,
            .hamburger-inner:before,
            .hamburger-inner:after {
                background-color: #ffffff;
            }
        }

        @media only screen and (max-width: 1200px) {
            .wgl-theme-header .wgl-mobile-header {
                display: block;
            }
            .wgl-site-header {
                display: none;
            }
            .wgl-theme-header .mobile-hamburger-toggle {
                display: inline-block;
            }
            .wgl-theme-header .primary-nav {
                display: none;
            }
            header.wgl-theme-header .mobile_nav_wrapper .primary-nav {
                display: block;
            }
            .wgl-theme-header .wgl-sticky-header {
                display: none;
            }
            .wgl-theme-header.header_overlap {
                position: relative;
                z-index: 2;
            }
            body.mobile_switch_on .wgl-menu_outer {
                height: calc(100vh - 100px);
            }
            .mobile_nav_wrapper .primary-nav {
                min-height: calc(100vh - 100px - 30px);
            }
        }

        .vc_custom_1542704069755 {
            padding-bottom: 20px !important;
        }

        .vc_custom_1528465408378 {
            margin-top: 23px !important;
        }

        .vc_custom_1542637255006 {
            padding-top: 11px !important;
        }

        .vc_custom_1542637262804 {
            padding-top: 11px !important;
        }

        .example,
        .woocommerce .widget_price_filter .ui-slider .ui-slider-range {
            background: #ffc600;
            background: -moz-linear-gradient(-30deg, #ffc600 0%, #ff4200 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, #ffc600), color-stop(100%, #ff4200));
            background: -webkit-linear-gradient(-30deg, #ffc600 0%, #ff4200 100%);
            background: -o-linear-gradient(-30deg, #ffc600 0%, #ff4200 100%);
            background: -ms-linear-gradient(-30deg, #ffc600 0%, #ff4200 100%);
            background: linear-gradient(120deg, #ffc600 0%, #ff4200 100%);
        }

        .theme-gradient #scroll_up,
        .theme-gradient button,
        .theme-gradient .widget.seofy_widget.seofy_banner-widget .banner-widget_button,
        .theme-gradient .load_more_item,
        .theme-gradient input[type="submit"],
        .theme-gradient .rev_slider .rev-btn.gradient-button,
        .theme-gradient .seofy_module_demo_item .di_button a,
        .page_404_wrapper .seofy_404_button.wgl_button .wgl_button_link {
            background: -webkit-linear-gradient(left, #ffc600 0%, #ff4200 50%, #ffc600 100%);
            background-size: 300%, 1px;
            background-position: 0%;
        }

        .theme-gradient ul.wgl-products li a.add_to_cart_button,
        .theme-gradient ul.wgl-products li a.button,
        .theme-gradient div.product form.cart .button,
        .theme-gradient .widget_shopping_cart .buttons a,
        .theme-gradient ul.wgl-products li .added_to_cart.wc-forward,
        .theme-gradient #payment #place_order,
        .theme-gradient #payment #place_order:hover,
        .theme-gradient #add_payment_method .wc-proceed-to-checkout a.checkout-button,
        .theme-gradient table.shop_table.cart input.button,
        .theme-gradient .checkout_coupon button.button,
        .theme-gradient #review_form #respond .form-submit input,
        .theme-gradient #review_form #respond .form-submit input:hover,
        .theme-gradient .cart .button,
        .theme-gradient button.button:hover,
        .theme-gradient .cart_totals .wc-proceed-to-checkout a.checkout-button:hover,
        .theme-gradient .cart .button:hover,
        .theme-gradient .cart-collaterals .button,
        .theme-gradient .cart-collaterals .button:hover,
        .theme-gradient table.shop_table.cart input.button:hover,
        .theme-gradient .woocommerce-message a.button,
        .theme-gradient .woocommerce-message a.button:hover,
        .theme-gradient .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.button.wc-forward:not(.checkout),
        .theme-gradient .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.button.wc-forward:not(.checkout):hover,
        .theme-gradient .wc-proceed-to-checkout a.checkout-button {
            background: -webkit-linear-gradient(left, #ffc600 0%, #ff4200 50%, #ffc600 100%);
            background-size: 300%, 1px;
            background-position: 0%;
        }

        .example {
            color: #ffc600;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-image: -webkit-linear-gradient(0deg, #ffc600 0%, #ff4200 100%);
            background-image: -moz-linear-gradient(0deg, #ffc600 0%, #ff4200 100%);
        }

        .author-widget_social a,
        .woocommerce .widget_price_filter .ui-slider .ui-slider-range,
        .woocommerce div.product .woocommerce-tabs ul.tabs li.active a:before,
        .wgl_module_team .team-info_icons .team-icon {
            background: #5ad0ff;
            background: -moz-linear-gradient(-30deg, #5ad0ff 0%, #3224e9 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, #5ad0ff), color-stop(100%, #3224e9));
            background: -webkit-linear-gradient(-30deg, #5ad0ff 0%, #3224e9 100%);
            background: -o-linear-gradient(-30deg, #5ad0ff 0%, #3224e9 100%);
            background: -ms-linear-gradient(-30deg, #5ad0ff 0%, #3224e9 100%);
            background: linear-gradient(120deg, #5ad0ff 0%, #3224e9 100%);
        }

        .theme-gradient .example,
        .single_team_page .team-info_icons a,
        #main ul.seofy_check_gradient li:before {
            background: -webkit-linear-gradient(left, #5ad0ff 0%, #3224e9 50%, #5ad0ff 100%);
            background-size: 300%, 1px;
            background-position: 0%;
        }

        .theme-gradient.woocommerce .widget_shopping_cart .buttons a.checkout,
        .theme-gradient .wgl-theme-header .woo_mini_cart .woocommerce-mini-cart__buttons a.checkout {
            background: -webkit-linear-gradient(left, #5ad0ff 0%, #3224e9 50%, #5ad0ff 100%);
            background-size: 300%, 1px;
            background-position: 0%;
        }

        .wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab a:before,
        .wpb-js-composer .wgl-container .vc_row .vc_general.vc_tta.vc_tta-tabs .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading .vc_tta-panel-title a:before {
            background: #5ad0ff;
            background: -moz-linear-gradient(-30deg, #5ad0ff 0%, #3224e9 100%);
            background: -webkit-gradient(left top, right bottom, color-stop(0%, #5ad0ff), color-stop(100%, #3224e9));
            background: -webkit-linear-gradient(-30deg, #5ad0ff 0%, #3224e9 100%);
            background: -o-linear-gradient(-30deg, #5ad0ff 0%, #3224e9 100%);
            background: -ms-linear-gradient(-30deg, #5ad0ff 0%, #3224e9 100%);
            background: linear-gradient(120deg, #5ad0ff 0%, #3224e9 100%);
        }

        .seofy_module_testimonials.type_author_top_inline .testimonials_meta_wrap:after {
            color: #5ad0ff;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-image: -webkit-linear-gradient(0deg, #5ad0ff 0%, #3224e9 100%);
            background-image: -moz-linear-gradient(0deg, #5ad0ff 0%, #3224e9 100%);
        }
