   <footer class="footer footer-light-left">
            <div class="container">
                <div class="columns ">
                     <div class="column is-9">
                        <div style="justify-content: flex-start !important; font-size: smaller;" class="footer-nav-right">
                            <a class="footer-nav-link" href="#">О КОМПАНИИ</a>
                            <a class="footer-nav-link" href="#">УСЛУГИ</a>
                            <a class="footer-nav-link" href="#">КЕЙСЫ</a>
                            <a class="footer-nav-link" href="#">КОНТАКТЫ</a>
                         </div>
                         <div class="footer_phone">
                            <p>8 800 777 26 47</p>
                            <span>ЗВОНКИ ПО РОССИИ БЕСПЛАТНО</span>
                        </div>
                         <div class="footer_copyright">
            <p>© 2019, DIGITAL-АГЕНТСТВО ASTRA PROMO</p>
        </div>
                    </div>
                    <div class="column is-3">



                            <nav class="level is-mobile mt-20">
                                <div class="level-left level-social">
                                    <a href="#" class="level-item" rel="nofollow">
                                        <span class="icon"><i class="fa fa-instagram"></i></span>
                                    </a>
                                    <a href="#" class="level-item" rel="nofollow">
                                        <span class="icon"><i class="fa fa-vk"></i></span>
                                    </a>

                                </div>
                            </nav>

                    </div>

                </div>
            </div>
        </footer>
        <div id="backtotop"><a href="#"></a></div>


        <div id="callBack_modal" class="modal modal-sm">
            <div style="background: linear-gradient(45deg, #0a0a0aa6 0%, #36363691 100%) !important;" class="modal-background"></div>
            <div class="modal-content">
                <div style="background-color: #f25a1a;" class="flex-card simple-shadow">
                    <div id="callBack_send" class="card-body">
                        <h2 style="color: #fff;" class="title has-text-centered is-3 mb-40">Заказать звонок</h2>
                        <div class="control-material is-accent">
                            <input class="material-input" id="callBack_name" type="text" required>
                            <span class="material-highlight"></span>
                            <span class="bar"></span>
                            <label>Ваше имя *</label>
                            <div style="display: none" class="nameError">
                              <small class="validation-info error">Это поле обязательно</small>
                            </div>

                        </div>
                        <div class="control-material is-accent">
                            <input class="material-input" type="text" id="callBack_phone" required>
                            <span class="material-highlight"></span>
                            <span class="bar"></span>
                            <label>Ваш телефон *</label>
                             <div style="display: none" class="phoneError">
                              <small class="validation-info error">Это поле обязательно</small>
                            </div>
                        </div>
                        <p style="color: #fff; text-align: center; font-size: x-small;">
                            Нажимая на кнопку, вы даете согласие на обработку своих персональных данных - Пользовательское соглашение
                        </p>
                        <div class="mt-20">
                            <button onclick="modalCallback();" id="modalSubmit" style="border-color: #fff !important;"
                                    class="button button-cta light-btn btn-align accent-btn raised is-fullwidth no-lh">ОТПРАВИТЬ</button>
                        </div>
                    </div>
                    <div style="display: none;" id="callBack_done" class="card-body has-text-centered">
                        <div class="content has-text-centered">
                            <div class="pb-20">
                                <div id="success-icon" class="vivus-svg modal-svg"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Calque_1" x="0px" y="0px" viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve" width="100%" height="100%">
                                    <style type="text/css">
                                        .st0{fill:#FFFFFF;stroke:#1AAE88;stroke-width:8;stroke-miterlimit:10;}
                                        .st1{fill:#FFFFFF;stroke:#1AAE88;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
                                    </style>
                                    <path id="XMLID_1_" class="st0" d="M14.700000000000003,75A60.3,60.3 0,1,1 135.3,75A60.3,60.3 0,1,1 14.700000000000003,75" style=""></path>
                                    <path id="XMLID_2_" class="st1" d="M51.7,69.7L70.7,88.2L110.7,56.2" style=""></path>
                                    </svg></div>
                            </div>
                            <h2 style="color: #fff;" class="title is-3 no-margin">ЗАПРОС ОТПРАВЛЕН!</h2>
                            <p style="color: #fff;" class="pt-20">Ожидайте звонка.</p>
                        </div>

                    </div>
                </div>
            </div>
            <button class="modal-close is-large is-hidden" aria-label="close"></button>
        </div>

