<footer class="bg-white py-6 footer-box">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-xs-center"  href="{% url 'index' %}">ГЛАВНАЯ</a></li>
                    <li class="list-inline-item"><a class="text-xs-center"  href="{% url 'showcase' %}">КЕЙСЫ</a></li>
                    <li class="list-inline-item"><a class="text-xs-center"  href="{% url 'contacts' %}">КОНТАКТЫ</a></li>
                    <li class="list-inline-item"><a class="text-xs-center"  href="{% url 'about' %}">О КОМПАНИИ</a></li>
                </ul>
                <div class="footer_phone">
                    <p><a href="tel:88007772647">8 800 777 26 47</a></p>
                    <span>ЗВОНКИ ПО РОССИИ БЕСПЛАТНО</span>
                </div>
                <div class="footer_copyright">
                    <p>© 2019, DIGITAL-АГЕНТСТВО ASTRA PROMO</p>
                </div>

            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto mb-4">
                <div class="footer-social">
                    <a href="#"  rel="nofollow"><i class="fa fa-instagram"></i></a>
                    <a href="#"  rel="nofollow"><i class="fa fa-vk"></i></a>
                </div>
            </div>
        </div>
     <div class="gap-60"></div>
         <div class="gap-20"></div>
    </div>

</footer>