{% load static %}
<footer class="bg-white py-6 footer-box">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-xs-center"  href="{% url 'index' %}">ГЛАВНАЯ</a></li>
                    <li class="list-inline-item"><a class="text-xs-center"  href="{% url 'showcase' %}">КЕЙСЫ</a></li>
                    <li class="list-inline-item"><a class="text-xs-center"  href="{% url 'contacts' %}">КОНТАКТЫ</a></li>
                    <li class="list-inline-item"><a class="text-xs-center"  href="{% url 'about' %}">О КОМПАНИИ</a></li>
                </ul>
                <div class="footer_phone">
                    <p><a href="tel:88007772647">8 800 777 26 47</a></p>
                    <span>ЗВОНКИ ПО РОССИИ БЕСПЛАТНО</span>
                </div>
                <div class="footer_copyright">
                    <p>© 2019, DIGITAL-АГЕНТСТВО ASTRA PROMO</p>
                </div>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-3 mx-auto mb-4 ">
                <div class="footer-social">
                    <a  href="#" rel="nofollow"><img class="social-icon" src="{% static 'images/vk.png' %}" alt="DIGITAL-АГЕНТСТВО ASTRA PROMO"></a>
                    <a  href="#" rel="nofollow"><img class="social-icon" src="{% static 'images/inst.png' %}" alt="DIGITAL-АГЕНТСТВО ASTRA PROMO"></a>
                </div>
            </div>
        </div>
        <div class="gap-30"></div>
        <div class="gap-40"></div>
    </div>
</footer>
<noindex>
<div class="liveinternet">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.11;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
</div>
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25221497 = new Ya.Metrika({id:25221497, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25221497" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51761845-1', 'astrapromo.ru');
  ga('send', 'pageview');

</script>
</noindex>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'fmAZt3gMII';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->