 {% load static %}
 <div class="container">
     <header>
         <nav class="navbar  navbar-expand-sm py-4">
             <a class="navbar-brand" href="/">
                 <img src="{% static 'images/logo-astra.jpg'%}" height="60" alt="logo">
             </a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-5">
                 <i class="fa fa-bars" aria-hidden="true"></i>
             </button>
             <div class="collapse navbar-collapse" id="navbar-list-5">
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item"><a class="nav-link {{ active_home }}" href="{% url 'index' %}">ГЛАВНАЯ</a></li>
                     <li class="nav-item"><a class="nav-link {{ active_about }}" href="{% url 'about' %}">О КОМПАНИИ</a></li>
                     <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle {{ active_uslug }}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             УСЛУГИ
                         </a>
                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                             <a class="dropdown-item" href="#">КОНТЕКСТНАЯ РЕКЛАМА</a>
                             <a class="dropdown-item" href="{% url 'seo' %}">ПРОДВИЖЕНИЕ САЙТОВ</a>
                             <a class="dropdown-item" href="{% url 'sites' %}">СОЗДАНИЕ САЙТОВ</a>
                             <a class="dropdown-item" href="#">ТАРГЕТИРОВАННАЯ РЕКЛАМА</a>
                             <a class="dropdown-item" href="#">ПРОЧИЕ УСЛУГИ</a>
                         </div>
                     </li>
                     <li class="nav-item"><a class="nav-link {{ active_showcase }}" href="{% url 'showcase' %}">КЕЙСЫ</a></li>
                     <li class="nav-item"><a class="nav-link {{ active_contacts }}" href="{% url 'contacts' %}">КОНТАКТЫ</a>
                     </li>
                 </ul>
             </div>
         </nav>
     </header>
 </div>