{% load static %}
<div class="container">
    <header>
        <nav class="navbar  navbar-expand-sm py-4">
            <div class="logo">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'images/logo.png'%}"  alt="ASTRAPROMO">
                </a>
                <span>ASTRAPROMO</span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-5">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar-list-5">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link {{ active_home }}" href="{% url 'index' %}">Главная</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {{ active_uslug }}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Услуги
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item {{ active_context }}" href="{% url 'context' %}">Реклама в Яндекс/Google</a>
                            <a class="dropdown-item {{ active_seo }}" href="{% url 'seo' %}">Продвижение сайтов</a>
                            <a class="dropdown-item {{ active_sites }}" href="{% url 'sites' %}">Создание сайтов</a>
                            <a class="dropdown-item {{ active_target }}" href="{% url 'target' %}">Реклама в соцсетях</a>
                            <a class="dropdown-item {{ active_services }}" href="{% url 'services' %}">Прочие услуги</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link {{ active_showcase }}" href="{% url 'showcase' %}">Кейсы</a></li>
                    <li class="nav-item"><a class="nav-link {{ active_contacts }}" href="{% url 'contacts' %}">Контакты</a>
                    <li class="nav-item"><a class="nav-link {{ active_about }}" href="{% url 'about' %}">О компании</a></li>
                </ul>
            </div>
            <div class="phone">
                <span>8 800 777 26 47</span>
                <a href="#" data-toggle="modal" data-target="#callBackModal">Заказать звонок</a>
            </div>
        </nav>
    </header>
</div>